<section class="blog-section section-padding" style="padding:26px 0px;">
  <div class="row justify-content-center">
    <div class="col-lg-11">
      <div class="block">
        <div class="card">
          <div class="text-center card-body contact__msg" style="display: none">
            <div class="col-lg-12">
              <div class="alert alert-success " role="alert">
                <br />
                <h5>
                  Your order has been mailed, You will get response from
                  <strong class="text-danger">NJAS Team</strong> shortly. Thank
                  you for shopping with us!
                </h5>
                <a
                  class="btn btn-success btn-rounded waves-effect waves-light m-b-40"
                  [routerLink]="['/home']"
                  >Back to home</a
                >
                <br />
              </div>
            </div>
          </div>

          <div class="card-header" id="headingOne">
            <h2 class="mb-0 text-center">
              <button
                class="btn btn-link11"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                {{ this.auth.user$.name }}
              </button>
              <!-- <p>#NJAS_P00001</p> -->
            </h2>
          </div>
          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <ul class="text-center">
                <li class="cat-item">
                  <a routerLinkActive="active" [routerLink]="['/profile']">
                    <h3><i class="ti-user"></i> Profile</h3>
                  </a>
                </li>
                <hr />
                <li class="cat-item">
                  <a
                    routerLinkActive="active"
                    [routerLink]="['/change-password']"
                  >
                    <h3><i class="ti-key"></i> Password</h3>
                  </a>
                </li>
                <hr />
                <li class="cat-item">
                  <a
                    routerLinkActive="active"
                    [routerLink]="['/my-groceries' + '/groceries']"
                  >
                    <h3><i class="ti-receipt"></i> My Groceries</h3>
                  </a>
                </li>

                <hr />
                <li class="cat-item">
                  <a
                    routerLinkActive="active"
                    [routerLink]="['/my-groceries' + '/food']"
                  >
                    <h3><i class="ti-receipt"></i> My Quick</h3>
                  </a>
                </li>
                <hr />
                <li class="cat-item">
                  <a routerLinkActive="active" [routerLink]="['/my-meals']">
                    <h3><i class="ti-receipt"></i> My Meals</h3>
                  </a>
                </li>
                <!-- <hr>  -->

                <!-- <hr>
                <li class="cat-item"><a routerLinkActive="active" [routerLink]="['/orders']">
                    <h3><i class="ti-receipt"></i> My Cakes</h3>
                  </a> </li>

              <hr> 
                 <li class="cat-item"><a routerLinkActive="active" [routerLink]="['/manage-address']">
                      <h3><i class="ti-location-pin"></i> Address</h3>
                    </a> </li> -->
                <!-- <hr> -->
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header text-center" id="headingOne">
            <button
              class="btn btn-danger text-center"
              (click)="this.auth.signOut()"
            >
              <i class="ti-close"></i>
              &nbsp;&nbsp; LOGOUT &nbsp;&nbsp;
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
