<section class="blog-section section-padding" style="padding:26px 0px;">
  <div class="row justify-content-center">
    <div class="col-lg-11">


      <div class="block">
        <div class="card">
          <div class="text-center card-body contact__msg" style="display: none">
            <div class="col-lg-12">
              <div class="alert alert-success " role="alert">
                <br>
                <h5> Look for the reset password link in your inbox and click
                  the link to complete reset password.
                </h5>
                <a class="btn btn-success btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/home']">Back
                  to
                  home</a>
                <br>
              </div>
            </div>
          </div>


          <form class="ion-padding" #fpForm="ngForm" (ngSubmit)="submitForm(fpForm)" id="formDiv">


            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-right">
                <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <i class="ti-email"></i>
                  FORGOT PASSWORD
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">





                <div class="row justify-content-center">

                  <div class="col-lg-12">
                    <div class="row form-row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success">Email Address</span>

                          <input type="email" name="email" id="email" class="form-control" style="height: 60px;"
                            placeholder="Enter Email Address" name="email" #email="ngModel"
                            pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"    [(ngModel)]="customerDetailsArr.email" required>

                          <span class="small text-danger" *ngIf="(email.invalid && email.touched )">*invalid</span>
                        </div>
                      </div>



                      <div class="col-lg-12 text-right">
                        <div class="mt-4 text-right">
                          <button class="btn btn-main2" [disabled]="!(fpForm.form.valid)"
                            type="submit">&nbsp;&nbsp;&nbsp;&nbsp;SUBMIT&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </div>
                      </div>

                    </div>



                  </div>
                </div>



              </div>
            </div>


          </form>

        </div>



        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0 text-right">
              <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <!-- <i class="ti-check-box"></i> -->
                Remember your password?
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">

              <div class="col-lg-12 text-right">

                <button class="btn btn-main text-center" routerLinkActive="active" [routerLink]="['/signin']">

                  <i class="ti-user"></i>
                  &nbsp;&nbsp;
                  SIGN IN
                  &nbsp;&nbsp;

                </button>
              </div>

            </div>
          </div>



        </div>

      </div>



    </div>
  </div>
</section>