<div style="text-align: right;">
  <button
    style="outline: none;
background: blueviolet;
color: white;"
    mat-raised-button
    (click)="closeDialog()"
  >
    Close
  </button>
</div>
<div
  aria-labelledby="headingOne"
  class="collapse show"
  data-parent="#accordionExample"
  id="collapseOne"
>
  <div class="card-body p-0">
    <div class="items text-center">
      <div
        class="item"
        [ngClass]="{
          hidden: product.value.status === 'inactive'
        }"
      >
        <div class="feature-item style-2  highlight-item">
          <div class="singleCardBG product-item">
            <div
              class="addIProductsToCartDiv"
              [ngClass]="
                product.value.best_choice ? 'bestChoiceBadge promoted' : ' '
              "
            >
              <div
                class="singleCartItemArea addItemArea"
                [ngClass]="
                  product.value.grade_a ? ' gradeABadge promoted1' : ' '
                "
              >
                <div></div>
              </div>

              <div class="feature-img">
                <img
                  alt="product"
                  (load)="imgLoaded = true"
                  [hidden]="!imgLoaded"
                  [src]="product.value.images1"
                  onerror="this.onerror=null; this.src='./assets/images/no-image.png'"
                />
                <div
                  style="display: block;
                                                max-height: 100%;
                                                                max-width: 100%;
                                                                width: auto;
                                                                height: auto;
                                                                position: absolute;
                                                                top: 0;
                                                                bottom: 0;
                                                                left: 0;
                                                                right: 0;
                                                                margin: auto;"
                  [ngClass]="{ ' ': true }"
                  *ngIf="!imgLoaded"
                ></div>
              </div>
            </div>
            <div class="feature-content">
              <hr />
              <div
                style="width: 100%;
                                          white-space: break-spaces;"
              >
                <h4>
                  {{ product.value.name }}
                </h4>
              </div>
              <hr />
              <p *ngIf="product.value.weight">( {{ product.value.weight }} )</p>
              <p *ngIf="storeData && storeData.store">
                <span
                  style="font-size: 12px; text-decoration: line-through; margin-right: 5px;"
                  >{{ this.storeData.store.currency_symbol | currencySymbol }}
                  {{ product.value.price }}</span
                >
                {{ this.storeData.store.currency_symbol | currencySymbol }}
                {{ product.value.discount_price }}
              </p>
              <p
                style="width: 100%;
                                          white-space: break-spaces;"
              >
                {{
                  product.value.description &&
                  product.value.description !== '0' &&
                  product.value.description !== 'N/A' &&
                  product.value.description !== 'false'
                    ? product.value.description
                    : ' '
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
