<section class="page-header" style="background: url(./assets/images/bg/banner-bg-5.jpg) ;padding: 120px 0px 120px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="block">
          <h1>NJAS Meals</h1>
          <br>
          <div class="row">

            <div class="col-lg-12 col-md-12">
              <div class="feature-item style-2">
                <div class="feature-img">
                  <img src="assets/images/icon/subscription.png" alt="" class="img-fluid">
                </div>
                <div class="feature-content">
                  <h4>Subscribe to Meal Plans</h4>
                  <p>Jamaica's Most Popular Daily/Weekly Meal Kit</p>

                </div>

                <div class="section-heading text-left about-info">
                  <button routerLinkActive="active" [routerLink]="['/subscribe']" id="subscribeBtn" disabled
                    class="btn btn-main btn-block">Book
                    Subscription<i class="ti-angle-right"></i></button>


                  <!-- <button id="subscribeBtn" disabled
                    
                  (click)="goto()" class="btn btn-main btn-block">Book
                    Subscription<i class="ti-angle-right"></i></button> -->





                </div>
                <p id="demo" class="text-danger small">{{activateText}}</p>
              </div>
            </div>


            <!-- <div class="col-lg-6 col-md-6">
              <div class="feature-item style-2">
                <div class="feature-img">
                  <img src="assets/images/icon/lunch.png" alt="" class="img-fluid">
                </div>
                <div class="feature-content">
                  <h4>Grab Breakfast</h4>
                  <p>Visit our store, browse menus and build your order in seconds</p>
                </div>
                <div class="section-heading text-left about-info">
                  <a class="btn btn-main2 btn-block" href="http://breakfast.notjusasalad.com" target="_blank">Go to
                    Store<i class="ti-angle-right"></i></a>
                  <a class="btn btn-main2 btn-block disabled" href="#" target="_blank">COMING SOON<i
                      class="fa fa-rocket"></i></a>
                </div>
                <br>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>