<section class="blog-section section-padding" style="padding:26px 0px;">
  <div class="row justify-content-center">
    <div class="col-lg-11">


      <div class="block">
        <div class="card">
          <div class="text-center card-body contact__msg" style="display: none">
            <div class="col-lg-12">
              <div class="alert alert-success " role="alert">
                <br>
                <h5> Your <strong class="text-success">account</strong> created. Thank you
                  for joining with us!</h5>
                <a class="btn btn-success btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/home']">Back
                  to
                  home</a>
                <br>
              </div>
            </div>
          </div>


          <form class="ion-padding" #orderForm="ngForm"  id="formDiv">


            <div class="card-header" id="headingOne">


              <div class="row">
                <div class="col">
                  <a routerLinkActive="active" [routerLink]="['/user-navigation']" class="text-left">
                    <i class="ti-angle-left"></i>
                    Go Back
                  </a>
                </div>

                <div class="col">
                  <h2 class="mb-0 text-right">
                    <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                      <i class="ti-receipt"></i>
                      ADDRESS
                    </button>
                  </h2>
                </div>



              </div>

            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">









              <div class="card-body">





                <div class="card">
                  <div class="card-header">


                    <div class="row">
                      <div class="col">
                        HOME
                      </div>

                      <div class="col text-right">
                        <span class="badge badge-success">PRIMARY</span>
                      </div>



                    </div>

                  </div>
                  <div class="card-body">
                    <p>27 Street, 2569 Heritage Road Visalia, CA 93291</p>
                    <hr>

                    <div class="row">
                      <div class="col">
                        <button href="#" class="btn btn-primary" disabled >MAKE IT PRIMARY</button>
                      </div>

                      <div class="col text-right">
                        <a href="#" class="btn btn-danger">DELETE</a>
                      </div>



                    </div>


                  </div>
                </div>

                <br>
                <div class="card">
                  <div class="card-header">


                    <div class="row">
                      <div class="col">
                        Office
                      </div>

                     


                    </div>

                  </div>
                  <div class="card-body">
                    <p>33 Baker Street, Crescent Road, CA 65746</p>
                    <hr>

                    <div class="row">
                      <div class="col">
                        <a href="#" class="btn btn-primary">MAKE IT PRIMARY</a>
                      </div>

                      <div class="col text-right">
                        <a href="#" class="btn btn-danger">DELETE</a>
                      </div>



                    </div>


                  </div>
                </div>
            


              </div>
            </div>

            <br>



          </form>

          <br>
        </div>





      </div>



    </div>
  </div>
</section>