<section class="banner banner-2" id="homescreen">


    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide">

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-lg-6 col-md-6">



                            <div class="banner-content1">

                                <br>
                                <!-- <span class="subheading">Welcome to </span> -->
                                <h1>FRUIT CAKE</h1>
                                <p>Our Kitchen team created Rich & Zero Cholesterol Fruit Cake specially for your
                                    Christmas.🥰</p>
                                <!-- <p>We provide Natural Food, Convenience, Community-Centric for healthy life & We are working towards Zero Hunger in the
                             Caribbean by 2030
                         </p> -->

                                <!-- <p>
                            The values we sell are Natural Food, Convenience, Community-Centric.
                        
                        
                        </p> -->

                                <div class="banner-btn">
                                    <!-- <a href="http://groceries.notjusasalad.com" class="btn btn-main">Purchase
                                farm products<i class="ti-angle-right"></i></a> -->
                                    <!-- <a class="btn btn-main2" routerLinkActive="active" [routerLink]="['/meals']">Order
                                    Meals<i class="ti-angle-right"></i></a> -->
                                    <a class="btn btn-main2" routerLinkActive="active"
                                        [routerLink]="['/cake']">Pre-Order
                                        Cake<i class="ti-angle-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6 col-md-6">
                            <div class="about-img2">
                                <img src="assets/images/icon/cake.png" alt="" class="img-fluid" style="padding: 20%;">
                            </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-12">
                    <div class="banner-img">
                        <img src="assets/images/banner/banner-img.png" alt="">
                    </div>
                </div> -->
                    </div> <!-- / .row -->
                </div> <!-- / .container -->



            </div>





            <div class="swiper-slide">

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-lg-6 col-md-6">



                            <div class="banner-content1">

                                <br>
                                <!-- <span class="subheading">Welcome to </span> -->
                                <h1>MEALS</h1>
                                <p>Prepared Fresh and Delivered to You Daily. The Cleanest, Tastiest and Most
                                    Diverse Healthy Eating Experience!</p>
                                <!-- <p>We provide Natural Food, Convenience, Community-Centric for healthy life & We are working towards Zero Hunger in the
                             Caribbean by 2030
                         </p> -->

                                <!-- <p>
                            The values we sell are Natural Food, Convenience, Community-Centric.
                        
                        
                        </p> -->

                                <div class="banner-btn">
                                    <!-- <a href="http://groceries.notjusasalad.com" class="btn btn-main">Purchase
                                farm products<i class="ti-angle-right"></i></a> -->
                                    <!-- <a class="btn btn-main2" routerLinkActive="active" [routerLink]="['/meals']">Order
                                    Meals<i class="ti-angle-right"></i></a> -->
                                    <a class="btn btn-main2"
                                        href="https://docs.google.com/forms/d/e/1FAIpQLSdfB87qDwWSxB5TlAnftOqbtrJWtC8rZ-nfGXFA2xH01qofgg/viewform"
                                        target="_blank">Order
                                        Meals<i class="ti-angle-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6 col-md-6">
                            <div class="about-img2">
                                <img src="assets/images/icon/salad.png" alt="" class="img-fluid" style="padding: 20%;">
                            </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-12">
                    <div class="banner-img">
                        <img src="assets/images/banner/banner-img.png" alt="">
                    </div>
                </div> -->
                    </div> <!-- / .row -->
                </div> <!-- / .container -->



            </div>
            <div class="swiper-slide">




                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-md-6 col-lg-6">



                            <div class="banner-content1">

                                <br>

                                <!-- <span class="subheading">Welcome to </span> -->
                                <h1>GROCERIES</h1>
                                <p>Visit our store to take a look at our fruit & veg bags seasonal produce! Get your
                                    order home delivered. </p>
                                <!-- <p>We provide Natural Food, Convenience, Community-Centric for healthy life & We are working towards Zero Hunger in the
                            Caribbean by 2030
                        </p> -->

                                <!-- <p>
                            The values we sell are Natural Food, Convenience, Community-Centric.
                        
                        
                        </p> -->

                                <div class="banner-btn">
                                    <!-- <a class="btn btn-border"
                                href="https://l.instagram.com/?u=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSdfB87qDwWSxB5TlAnftOqbtrJWtC8rZ-nfGXFA2xH01qofgg%2Fviewform&e=ATPMw44XhI8mgPdGPBk3NKRWuhJYnibiznONqQHhwmQoUAwltfDbnEklCwoQySM2kWuW7iMz2h3HcTdI39kYftcuROQpXKYa9qJ0cw&s=1"
                                target="_blank">Order Meals<i class="ti-angle-right"></i></a> -->
                                    <a href="http://groceries.notjusasalad.com" target="_blank"
                                        class="btn btn-main2">Start
                                        Shopping<i class="ti-angle-right"></i></a>

                                </div>
                            </div>



                        </div>

                        <div class="col-sm-6 col-lg-6 col-md-6">
                            <div class="about-img2">
                                <img src="assets/images/icon/healthy-food.png" alt="" class="img-fluid"
                                    style="padding: 20%;">
                            </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-12">
                    <div class="banner-img">
                        <img src="assets/images/banner/banner-img.png" alt="">
                    </div>
                </div> -->
                    </div> <!-- / .row -->
                </div> <!-- / .container -->





            </div>
            <div class="swiper-slide">


                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-lg-6 col-md-6">



                            <div class="banner-content1">


                                <br>
                                <!-- <span class="subheading">Welcome to </span> -->
                                <h1>BLOGS</h1>
                                <p>Join our community, get access to our latest blog tips & articles to improve your
                                    healthly lifestyle.
                                </p>

                                <!-- <p>
                            The values we sell are Natural Food, Convenience, Community-Centric.
                        
                        
                        </p> -->

                                <div class="banner-btn">
                                    <a class="btn btn-main2" href="http://blogs.notjusasalad.com"
                                        target="_blank">Continue to Blogs<i class="ti-angle-right"></i></a>
                                    <!-- <a href="http://groceries.notjusasalad.com" class="btn btn-main">Purchase
                                farm products<i class="ti-angle-right"></i></a> -->

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-md-6">
                            <div class="about-img2">
                                <img src="assets/images/icon/blogs.png" alt="" class="img-fluid" style="padding: 20%;">
                            </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-12">
                    <div class="banner-img">
                        <img src="assets/images/banner/banner-img.png" alt="">
                    </div>
                </div> -->
                    </div> <!-- / .row -->
                </div> <!-- / .container -->




            </div>

        </div>

        <div class="btm-bg">
            <img src="assets/images/banner/bg-wave.svg" alt="" class="img-fluid">
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>
<section class="about" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img src="assets/images/bg/bg3.jpg" alt="" class="img-fluid">
                    <a href="https://www.instagram.com/p/CDHd16oBw5b/" target="_blank" class="video-play"><i
                            class="fa fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-heading text-left about-info">
                    <h4 class="subheading">About</h4>
                    <span class="subtitle">our story</span>
                    <h2>Healthy, tasty & <span>Fresh Natural Food</span></h2>
                    <p>Prepared Fresh and Delivered to You Daily (Free Delivery). The Cleanest, Tastiest and Most
                        Diverse Healthy Eating Experience! We're looking forward to having you on board :) </p>
                    <ul>
                        <li><i class="ti-check"></i> Natural Foods</li>
                        <li><i class="ti-check"></i> Improve Health</li>
                        <li><i class="ti-check"></i> Weight Control</li>
                        <li><i class="ti-check"></i> Increase Productivity</li>
                    </ul>

                    <a class="btn btn-border"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSdfB87qDwWSxB5TlAnftOqbtrJWtC8rZ-nfGXFA2xH01qofgg/viewform"
                        target="_blank">Order Meals<i class="ti-angle-right"></i></a>
                    <a href="http://groceries.notjusasalad.com" target="_blank" class="btn btn-main">Purchase farm
                        products<i class="ti-angle-right"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <div class="feature-img">
                        <img src="assets/images/icon/healthy-food.png" alt="" class="img-fluid">
                    </div>
                    <div class="feature-content">
                        <h4>Natural Food</h4>
                        <p>To end hunger and the threat of NCDs in the Caribbean</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <div class="feature-img">
                        <img src="assets/images/icon/success.png" alt="" class="img-fluid">
                    </div>
                    <div class="feature-content">
                        <h4>Convenience</h4>
                        <p>To end hunger and the threat of NCDs in the Caribbean</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <div class="feature-img">
                        <img src="assets/images/icon/society.png" alt="" class="img-fluid">
                    </div>
                    <div class="feature-content">
                        <h4>Community-Centric</h4>
                        <p>To end hunger and the threat of NCDs in the Caribbean</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- <section class="service section-padding secondary-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h4 class="subheading">services</h4>
                    <span class="subtitle">our solutions</span>
                    <h2>Services We Provide <span>Benifited Health</span></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-img">
                        <span>01</span>
                        <img src="assets/images/services/services-1.png" alt="" class="img-fluid">
                    </div>
                    <h4>Fresh Vegetables</h4>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    <a href="#" class="btn btn-main2">Learn More<i class="ti-angle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-img">
                        <span>02</span>
                        <img src="assets/images/services/services-2.png" alt="" class="img-fluid">
                    </div>
                    <h4>Natural Foods</h4>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    <a href="#" class="btn btn-main2">Learn More<i class="ti-angle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-img">
                        <span>03</span>
                        <img src="assets/images/services/services-3.png" alt="" class="img-fluid">
                    </div>
                    <h4>Fresh Meats</h4>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    <a href="#" class="btn btn-main2"> Learn More<i class="ti-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="cta-content">
                    <h2>We provided healthy food to <span>10k+ IG Family</span> successfully</h2>
                    <a href="https://www.instagram.com/notjusasalad" target="_blank" class="btn btn-main"> <i
                            class="ti-instagram"></i> &nbsp;&nbsp;Join Our Happy
                        IG Family<i class="ti-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about section-padding" id="services">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="about-img2">
                    <img src="assets/images/bg/about1.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-heading text-left mb-3">
                        <h4 class="subheading">About</h4>
                        <span class="subtitle">our services</span>
                        <h2>We are best natural <span>food provider</span></h2>
                    </div>

                    <div class="process-wrap">
                        <div class="process-item">
                            <div class="process-icon">
                                <i class="ti-check"></i>
                            </div>
                            <div class="process-text">
                                <h5>Community Focus</h5>
                                <p>Involving more local people in the primary stage of supply chain with innovative
                                    models, creating more livelihood opportunities.</p>
                            </div>
                        </div>

                        <div class="process-item">
                            <div class="process-icon style-2">
                                <i class="ti-check"></i>
                            </div>
                            <div class="process-text">
                                <h5>Farm To Table</h5>
                                <p>We are reducing the Product Supply Chain, and it is directly from Farmer's Door
                                    to Consumer's Door.</p>
                            </div>
                        </div>
                    </div>

                    <a href="http://groceries.notjusasalad.com" target="_blank" class="btn btn-main2">Purchase farm
                        products<i class="ti-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="order-booking ">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="order-item active">
                    <i class="ti-search"></i>
                    <h4>1-Discover</h4>
                    <p>Take a look at our fruit & veg bags seasonal produce</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="order-item">
                    <i class="ti-thumb-up"></i>
                    <h4>2-Order</h4>
                    <p>Pick products from our store and place an order</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="order-item">
                    <i class="ti-shopping-cart-full"></i>
                    <h4>3-Get Your Prduct</h4>
                    <p>Your order will be harvested and delivered to you</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="order-item">
                    <i class="ti-face-smile"></i>
                    <h4>4-Enjoy!</h4>
                    <p>Enjoy healthy fresh produce and our recipes</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="deal">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 deal-inner">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="deal-img">
                            <span class="deal-coupon">25% Off</span>
                            <img src="assets/images/bg/about1.png" alt="" class="img-fluid">
                        </div>
                    </div>
        
                    <div class="col-lg-7">
                        <div class="deal-info section-heading">
                            <span class="subtitle">Deal Of The Day</span>
                            <h2>Organic Lotion</h2>
                            <p>25% Off For This Week. Hurry Up To Out Off Stock.Check out more products we have</p>
                            <a href="#" class="btn btn-main2">Shop Now<i class="ti-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="product section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h4 class="subheading">Products</h4>
                    <span class="subtitle">our store</span>
                    <h2>Visit Our <span>Store For Products</span></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="product-item">
                    <div class="product-img">
                        <img src="assets/images/store/p-1.png" alt="" class="img-fluid">
                    </div>
                    <div class="product-text">
                        <div class="rating">
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5>Fresh <span>Tomatoes</span></h5>
                        <!-- <div class="price-info">
                            <h6>20$ <span>10$</span></h6>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="product-item">
                    <div class="product-img">
                        <img src="assets/images/store/p-2.png" alt="" class="img-fluid">
                    </div>
                    <div class="product-text">
                        <div class="rating">
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5>Natural <span>Herbs</span></h5>
                        <!-- <div class="price-info">
                            <h6>20$ <span>10$</span></h6>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="product-item">
                    <div class="product-img">
                        <img src="assets/images/store/p-5.png" alt="" class="img-fluid">
                    </div>
                    <div class="product-text">
                        <div class="rating">
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5>Seasonal <span>fruits</span></h5>
                        <!-- <div class="price-info">
                            <h6>20$ <span>10$</span></h6>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="product-item">
                    <div class="product-img">
                        <img src="assets/images/store/p-4.png" alt="" class="img-fluid">
                    </div>
                    <div class="product-text">
                        <div class="rating">
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                            <a href="#"><i class="far fa-star"></i></a>
                        </div>
                        <h5>Fresh <span>vegetables</span></h5>
                        <!-- <div class="price-info">
                            <h6>20$ <span>10$</span></h6>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-lg-6">
                <div class="btn-text">
                    <p>Visit our store for more products, <br>Get your order home delivered.</p>







                    <a href="http://groceries.notjusasalad.com" target="_blank" class="btn btn-main">More
                        Products<i class="ti-angle-right"></i></a>



                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <video id="my-video" class="video-js" controls preload="auto" poster="assets/images/bg/bg3.jpg"
                        data-setup="{}">
                        <source src="assets/videos/groceries.mp4" type="video/mp4" />
                        <source src="assets/videos/groceries.mp4" type="video/webm" />
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                video</a>
                        </p>
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-2 section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-heading">
                    <span class="subtitle">We Connect Farmers & Consumers</span>
                    <h2>Looking To Sell Your <br>Farm Produce?</h2>
                    <a class="btn btn-main"
                        href="https://docs.google.com/forms/d/e/1FAIpQLScv6MyVZHMLV1F26XEiJ2Sd6VrkiCU57gkfCpbNxVPaINkCEQ/viewform"
                        target="_blank"><i class="ti-id-badge"></i>&nbsp;&nbsp; SIGN-UP as a Farmer<i
                            class="ti-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>



</section>

<!-- <section class="service section-padding secondary-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h4 class="subheading">gallery</h4>
                        <span class="subtitle">our site & people</span>
                        <h2>We provide best natural <span>PRODUCE</span></h2>
                    </div>
                </div>
            </div>

            <div class="row no-gutters">
                <div class="footer-gallery">
                    <ul>

                        <li><img src="assets/images/gallery/2.jpg" alt="2" class="img-fluid"></li>

                        <li><img src="assets/images/gallery/5.jpg" alt="5" class="img-fluid"></li>
                        <li><img src="assets/images/gallery/6.jpg" alt="6" class="img-fluid"></li>



                        <li><img src="assets/images/gallery/3.jpg" alt="3" class="img-fluid"></li>
                        <li><img src="assets/images/gallery/9.jpg" alt="9" class="img-fluid"></li>

                        <li><img src="assets/images/gallery/4.jpg" alt="4" class="img-fluid"></li>


                        <li><img src="assets/images/gallery/8.jpg" alt="8" class="img-fluid"></li>
                        <li><img src="assets/images/gallery/10.jpg" alt="10" class="img-fluid"></li>


                        <li><img src="assets/images/gallery/12.jpg" alt="12" class="img-fluid"></li>

                    </ul>

                </div>
            </div>
        </div>
    </section> -->

<section class="blog-section section-padding" id="blogs">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h4 class="subheading">Blog News</h4>
                    <span class="subtitle">Blog articles</span>
                    <h2>Blog tips <span>& articles to stay healthier</span></h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-post">
                    <div class="post-media">
                        <span class="post-meta-date">10 jun</span>
                        <img src="assets/images/blog/blog-3.png" alt="Blog 3" height="160" class="img-fluid">
                    </div>
                    <div class="post-content">
                        <div class="post-meta">
                            <span class="post-author"><i class="ti-user"></i>Khadine Smith</span>
                            <span class="post-comment"><i class="ti-comments"></i>8</span>
                        </div>

                        <h2 class="post-title"><a
                                href="http://blogs.notjusasalad.com/2020/10/13/how-much-do-you-know-about-organic-food/"
                                target="_blank">How much do you know about organic food?</a></h2>
                        <p>We conducted a small survey to gauge how much people really know about organic food. Here
                            are the top results –On knowing about organic<br>84.3 % people did, while 9.8% thought
                            any food that is fresh is organic. The rest were divided...</p>
                        <a href="http://blogs.notjusasalad.com/2020/10/13/how-much-do-you-know-about-organic-food/"
                            target="_blank" class="btn btn-main2">Read More<i class="ti-angle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-post">
                    <div class="post-media">
                        <span class="post-meta-date">10 jun</span>
                        <img src="assets/images/blog/blog-1.png" alt="Blog 1" height="160" class="img-fluid">
                    </div>

                    <div class="post-content">
                        <div class="post-meta">
                            <span class="post-author"><i class="ti-user"></i>Khadine Smith</span>
                            <span class="post-comment"><i class="ti-comments"></i>2</span>
                        </div>
                        <h2 class="post-title"><a
                                href="http://blogs.notjusasalad.com/2020/10/13/fresh-food-or-frozon-food/"
                                target="_blank">WHAT IS BETTER – FRESH FOOD OR FROZEN FOOD?</a></h2>
                        <p>So many of us fail to to consume the recommended amounts of vegetables or fruits per day.
                            So many times we end up ordering in, instead of cooking, because, who wants...</p>
                        <a href="http://blogs.notjusasalad.com/2020/10/13/fresh-food-or-frozon-food/" target="_blank"
                            class="btn btn-main2">Read More<i class="ti-angle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-post">
                    <div class="post-media">
                        <span class="post-meta-date">10 jun</span>
                        <img src="assets/images/blog/blog-2.png" alt="Blog 2" height="160" class="img-fluid">
                    </div>
                    <div class="post-content">
                        <div class="post-meta">
                            <span class="post-author"><i class="ti-user"></i>Khadine Smith</span>
                            <span class="post-comment"><i class="ti-comments"></i>6</span>
                        </div>

                        <h2 class="post-title"><a
                                href="http://blogs.notjusasalad.com/2020/10/13/fowl-play-why-you-should-read-this-before-eating-poultry/"
                                target="_blank">Fowl Play: Why you should read this before eating poultry</a></h2>
                        <p>Do you have plans to cook chicken tonight? Well, maybe you should read this before you
                            do. <br>Every poultry starts on the farm and stops at a lot of places...</p>
                        <a href="http://blogs.notjusasalad.com/2020/10/13/fowl-play-why-you-should-read-this-before-eating-poultry/"
                            target="_blank" class="btn btn-main2">Read More<i class="ti-angle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 align-items-center">
                    <div class="btn-text">
                        <p>We have many more curated blog tips & articles to improve your healthly lifestyle.</p>
                        <a href="http://blogs.notjusasalad.com" target="_blank" class="btn btn-main">More
                            Blogs<i class="ti-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="section-heading text-left">
                    <span class="subtitle"> Testimonials <i class="ti-comments-smiley"></i></span>
                    <h2>what they say <span>about us</span></h2>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="review owl-carousel owl-theme">
                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc">My lunch from NOT JUS'A SALAD was amazing!
                            The servive is wonderful and i`ll be ordering from them regularly during my stay!
                            Thanks so much :)</p>

                        <!-- <div class="client-wrap">
                                <div class="client-img">
                                    <img src="assets/images/clients/test-5.jpg" alt="" class="img-fluid">
                                </div>

                                <div class="client-info">
                                    <h6>Rony</h6>
                                    <p>Artist</p>
                                </div>
                            </div> -->
                    </div>

                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc"><br><br>Got the lunch and I really enjoyed it plus am full :D<br><br></p>

                        <!-- <div class="client-wrap">
                                <div class="client-img">
                                    <img src="assets/images/clients/test-2.jpg" alt="" class="img-fluid">
                                </div>

                                <div class="client-info">
                                    <h6>Jhon</h6>
                                    <p>Developer</p>
                                </div>
                            </div> -->
                    </div>
                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc"><br><br>Thank you so much. It's so tasty! I will be ordering my lunch in
                            regular basis.</p>

                        <!-- <div class="client-wrap">
                                <div class="client-img">
                                    <img src="assets/images/clients/test-1.jpg" alt="" class="img-fluid">
                                </div>

                                <div class="client-info">
                                    <h6>Seema</h6>
                                    <p>Designer</p>
                                </div>
                            </div> -->
                    </div>
                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc"><br><br>Thank you so much. It's so tasty! I will be ordering my lunch in
                            regular basis.</p>


                    </div>



                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc"><br><br>

                            Food was really good. I gave my friend the pan seared, She enjoyed it!

                        </p>

                    </div>



                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc"><br><br>

                            Salad was amazing! I would give A+ for the taste & presentation.
                            <br> <br>
                        </p>

                    </div>



                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc">

                            I must compliment! NOT JUS'A SALAD redefined the meaning of salad!<br>
                            Keep it up. Consistency is key and you got it!

                        </p>

                    </div>



                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc">

                            Salads from NOT JUS'A SALAD taste way better than it looks and it looks very good. Thank
                            you.<br>
                            Will order more in future.

                        </p>

                    </div>




                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc">

                            I loveeed the wrap and my friends loved their food too,
                            Everything was juicy and just mouth watering.
                            It was so good honestly.

                        </p>

                    </div>



                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc"><br><br>

                            Salad and wraps were delicious by the way. Saved me on duty yesterday.

                        </p>

                    </div>



                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc"><br><br>

                            I loved the wraps!
                            <br><br><br>
                        </p>

                    </div>




                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc"><br><br>

                            Really enjoyed my salad and thank you for coming at the time you said you would!

                        </p>

                    </div>


                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc"><br>

                            That was super duper delicious!!! Utterly enjoyed that! First time trying quinoa and you
                            did justice to it! Thanks for a great lunch!

                        </p>

                    </div>



                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc"><br><br>

                            Got the lunch and I really enjoyed it plus am full :D
                            <br><br>
                        </p>

                    </div>











                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="client-logo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                 <div class="owl-carousel owl-theme clients-carousel">
                    <div class="item"><img class="clients-thumb" src="assets/images/clients/client1.png" alt=""></div>
                    <div class="item"><img class="clients-thumb" src="assets/images/clients/client2.png" alt=""></div>
                    <div class="item"><img class="clients-thumb" src="assets/images/clients/client3.png" alt=""></div>
                    <div class="item"><img class="clients-thumb" src="assets/images/clients/client4.png" alt=""></div>
                    <div class="item"><img class="clients-thumb" src="assets/images/clients/client1.png" alt=""></div>
                    <div class="item"><img class="clients-thumb" src="assets/images/clients/client2.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section> -->