<section class="blog-section section-padding" style="padding:26px 0px;">
  <div class="row justify-content-center">
    <div class="col-lg-11">


      <div class="block">
        <div class="card">
          <div class="text-center card-body contact__msg" style="display: none">
            <div class="col-lg-12">
              <div class="alert alert-success " role="alert">
                <br>
                <h5> Your <strong class="text-success">account</strong> created. Thank you
                  for joining with us!</h5>
                <a class="btn btn-success btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/home']">Back
                  to
                  home</a>
                <br>
              </div>
            </div>
          </div>


          <form class="ion-padding" #orderForm="ngForm" id="formDiv">


            <div class="card-header" id="headingOne">


              <div class="row">
                <div class="col">
                  <a routerLinkActive="active" [routerLink]="['/user-navigation']" class="text-left">
                    <i class="ti-angle-left"></i>
                    Go Back
                  </a>
                </div>

                <div class="col">
                  <h2 class="mb-0 text-right">
                    <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                      <i class="ti-receipt"></i>
                      ORDER(S)
                    </button>
                  </h2>
                </div>



              </div>

            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">









              <div class="card-body">





                <div class="card">
                  <div class="card-header">


                    <div class="row">
                      <div class="col">
                        Order #1
                      </div>

                      <div class="col text-right">
                        <span class="badge badge-success">DELIVERED</span>
                      </div>



                    </div>

                  </div>
                  <div class="card-body">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th scope="row">Order Date: </th>
                          <td>7th April 2019</td>

                        </tr>
                        <tr>
                          <th scope="row">Delivery Date:
                          </th>
                          <td>13th April</td>

                        </tr>
                        <tr>
                          <th scope="row"><strong>Total Price:
                            </strong> </th>
                          <td><strong>$3500</strong></td>

                        </tr>
                      </tbody>
                    </table>
                    <hr>

                    <div class="row">
                      <div class="col">
                        <a href="#" class="btn btn-sm btn-primary btn-block">VIEW DETAILS</a>
                      </div>
                    </div>

                  </div>
                </div>

                <br>

                <div class="card">
                  <div class="card-header">


                    <div class="row">
                      <div class="col">
                        Order #2
                      </div>

                      <div class="col text-right">
                        <span class="badge badge-info">PAYMENT PROCESSING</span>
                      </div>



                    </div>

                  </div>
                  <div class="card-body">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th scope="row">Order Date: </th>
                          <td>16th April 2019</td>

                        </tr>
                        <tr>
                          <th scope="row">Delivery Date:
                          </th>
                          <td>19th April</td>

                        </tr>
                        <tr>
                          <th scope="row"><strong>Total Price:
                            </strong> </th>
                          <td><strong>$5000</strong></td>

                        </tr>
                      </tbody>
                    </table>
                    <hr>

                    <div class="row">
                      <div class="col">
                        <a href="#" class="btn btn-sm btn-primary btn-block">VIEW DETAILS</a>
                      </div>
                    </div>



                  </div>
                </div>



              </div>
            </div>

            <br>



          </form>

          <br>
        </div>





      </div>



    </div>
  </div>
</section>