<section *ngIf="cakeDetailsArr && storeArr">

    <section class="about footer">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 bestChoiceListBadge promoted">
                    <div class="about-img">

                        <ngx-progressive-image-loader>
                            <ngx-image-placeholder>
                                <img src="{{cakeDetailsArr.images1}}" alt="Cake" class="img-fluid" image-spinner width="250" height="250" >
                            </ngx-image-placeholder>
                        </ngx-progressive-image-loader>
                        <a href="https://www.instagram.com/p/CHgwGXHBdlW/?utm_source=ig_web_copy_link" target="_blank"
                            class="video-play"><i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="section-heading text-left about-info">
                        <h4 class="subheading">Special</h4>
                        <span class="subtitle">CHRISTMAS</span>
                        <h2>{{cakeDetailsArr.name}}</h2>
                        <br>
                        <br>

                        <h3 class="text-dark"> ${{cakeDetailsArr.discount_price}} JMD / $150 TTD


                            <span *ngIf="cakeDetailsArr.price!=='0'"
                                style="text-decoration: line-through;color:#EC5569;text-align: right; top: -20px; position: relative;"
                                class="ng-star-inserted">JMD ${{cakeDetailsArr.price}}</span></h3>
                        <sub>Inclusive of all taxes</sub>

                        <br>
                        <br>

                        <ul>
                            <li><i class="ti-minus"></i> Natural Fruits</li>
                            <li><i class="ti-minus"></i> Oat and Flax Seed Based</li>
                            <li><i class="ti-minus"></i> Zero Cholesterol</li>
                            <li><i class="ti-minus"></i> 100% Vegan</li>
                            <li><i class="ti-minus"></i> No Flour, Eggs or Butter</li>
                            <li><i class="ti-minus"></i> Sweetened with Agave Nectar</li>
                        </ul>

                        <div class="review">
                            <h5 class="text-danger review-item"><i class="ti-location-pin"></i> Available Throughout the
                                Islands of Jamaica and Trinidad.</h5>
                        </div>
                        <a routerLinkActive="active" [routerLink]="['/cake-checkout']" class="btn btn-main"
                            style="width: 100%;"><i class="ti-shopping-cart"></i> PRE-BOOK ORDER
                            NOW!</a>
                        <!-- <p id="demo" class="text-danger text-right"></p> -->
                    </div>


                </div>



            </div>



        </div>
    </section>

    <div class="blog-sidebar container">
        <div class="widget widget_tag_cloud">
            <h4 class="widget-title">Description :</h4>
            <p>{{cakeDetailsArr.description}}</p>
        </div>
    </div>


</section>
<section class="testimonial section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="section-heading text-left">
                    <span class="subtitle"> Testimonials <i class="ti-comments-smiley"></i></span>
                    <h2>what they say <span>about our sample cake </span></h2>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="review owl-carousel owl-theme">

                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc"><br><br>

                            Really enjoyed this fruit cake...sweet pleasure without the guilt👍🏽😁
                            <br> <br>
                        </p>

                    </div>



                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc"><br><br>

                            This was really nice👍 thank you
                            <br> <br> <br> <br>
                        </p>

                    </div>


                    <div class="review-item">
                        <i class="fa fa-quote-left"></i>
                        <p class="desc"><br><br>

                            I did my first week with you guys this week and loved it all. Special shout out to the fruit
                            cake! I just had it and it was sublime ❤️❤️

                        </p>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>