<section class="blog-section section-padding" style="padding:26px 0px;">
  <div class="row justify-content-center">
    <div class="col-lg-11">
      <div class="block">
        <div class="card">
          <div class="text-center card-body contact__msg" style="display: none">
            <div class="col-lg-12">
              <div class="alert alert-success " role="alert">
                <br />
                <h5>
                  Your <strong class="text-success">account</strong> created.
                  Look for the verification email in your inbox and click the
                  link in that email to get started. Thank you for joining with
                  us!
                </h5>
                <a
                  class="btn btn-success btn-rounded waves-effect waves-light m-b-40"
                  [routerLink]="['/home']"
                  >Back to home</a
                >
                <br />
              </div>
            </div>
          </div>

          <form
            class="ion-padding"
            #signupForm="ngForm"
            (ngSubmit)="submitForm(signupForm)"
            id="formDiv"
          >
            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-right">
                <button
                  class="btn btn-link11"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  <i class="ti-plus"></i>
                  SIGN UP
                </button>
              </h2>
            </div>
            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-lg-12">
                    <div class="row form-row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success"
                            >Full Name
                            <span class="text-danger small"
                              >(*required)</span
                            ></span
                          >
                          <input
                            type="text"
                            name="name"
                            id="name"
                            class="form-control"
                            style="height: 60px;"
                            placeholder="Enter Full Name"
                            name="name"
                            #name="ngModel"
                            [(ngModel)]="customerDetailsArr.name"
                            required
                          />
                          <span
                            class="small text-danger"
                            *ngIf="name.invalid && name.touched"
                            >*invalid</span
                          >
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success"
                            >Primary Mobile Number
                            <span class="text-danger small"
                              >(*required)</span
                            ></span
                          >
                          <input
                            type="tel"
                            name="mobile"
                            id="mobile"
                            class="form-control"
                            style="height: 60px;"
                            (keypress)="numberOnly($event)"
                            placeholder="Enter Mobile Number"
                            name="mobile"
                            #mobile="ngModel"
                            [(ngModel)]="customerDetailsArr.mobile"
                            required
                          />

                          <span
                            class="small text-danger"
                            *ngIf="mobile.invalid && mobile.touched"
                            >*invalid</span
                          >
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success"
                            >Secondary Mobile Number
                            <span class="text-dark small"
                              >(optional)</span
                            ></span
                          >
                          <input
                            type="tel"
                            name="secondary_mobile"
                            id="secondary_mobile"
                            class="form-control"
                            (keypress)="numberOnly($event)"
                            style="height: 60px;"
                            placeholder="Enter Secondary Mobile Number"
                            name="secondary_mobile"
                            #secondary_mobile="ngModel"
                            [(ngModel)]="customerDetailsArr.secondary_mobile"
                          />
                          <!-- <span class="small text-danger" *ngIf="(secondary_mobile.invalid && secondary_mobile.touched )">*invalid</span> -->
                        </div>
                      </div>

                      <!-- <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success">Full Name</span>
                          <input type="text" name="fname" id="fname" class="form-control" style="height: 60px;"
                            placeholder="Enter First Name" name="fname" #fname="ngModel"
                            [(ngModel)]="customerDetailsArr.fname" required>

                          <span class="small text-danger" *ngIf="(fname.invalid && fname.touched )">*invalid</span>
                        </div>
                      </div>


                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success">Last Name</span>
                          <input type="text" name="lname" id="lname" class="form-control" style="height: 60px;"
                            placeholder="Enter Last Name" name="lname" #lname="ngModel"
                            [(ngModel)]="customerDetailsArr.lname" required>

                          <span class="small text-danger" *ngIf="(lname.invalid && lname.touched )">*invalid</span>
                        </div>
                      </div> -->

                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success"
                            >Address
                            <span class="text-danger small"
                              >(*required)</span
                            ></span
                          >
                          <textarea
                            cols="30"
                            rows="4"
                            class="form-control"
                            placeholder="Address"
                            name="address1"
                            #address1="ngModel"
                            [(ngModel)]="customerDetailsArr.address1"
                            required
                          ></textarea>

                          <span
                            class="small text-danger"
                            *ngIf="address1.invalid && address1.touched"
                            >*invalid</span
                          >
                        </div>
                      </div>

                      <!-- <div class="col-lg-12">
                        <div class="form-group">
                          <div class="form-group">
                            <select class="form-control" name="address2" #address2="ngModel"
                              [(ngModel)]="customerDetailsArr.address2" required>
                              <option value="none" label="Choose Country" selected="selected">Choose Country
                              </option>
                              <option value="Jamaica" label="Jamaica">Jamaica</option>
                              <option value="Trinidad" label="Trinidad">Trinidad</option>
                            </select>
                            <span class="small text-danger"
                              *ngIf="(address2.invalid && address2.touched )">*invalid</span>
                          </div>
                        </div>
                      </div> -->

                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success"
                            >Email Address
                            <span class="text-danger small"
                              >(*required)</span
                            ></span
                          >
                          <input
                            type="email"
                            name="email"
                            id="email"
                            class="form-control"
                            style="height: 60px;"
                            placeholder="Enter Email Address"
                            name="email"
                            #email="ngModel"
                            pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
                            [(ngModel)]="customerDetailsArr.email"
                            required
                          />

                          <span
                            class="small text-danger"
                            *ngIf="email.invalid && email.touched"
                            >*invalid</span
                          >
                        </div>
                      </div>

                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success"
                            >Password
                            <span class="text-danger small"
                              >(*required)</span
                            ></span
                          >
                          <show-hide-password
                            size="lg"
                            btnStyle="primary"
                            [btnOutline]="false"
                          >
                            <input
                              type="password"
                              name="password"
                              id="password"
                              class="form-control"
                              style="height: 60px;"
                              placeholder="Enter Password"
                              name="password"
                              #password="ngModel"
                              [(ngModel)]="customerDetailsArr.password"
                              required
                            />
                          </show-hide-password>
                          <span
                            class="small text-danger"
                            *ngIf="password.invalid && password.touched"
                            >*invalid</span
                          >
                        </div>
                      </div>

                      <div class="col-lg-12 col-12 p-0">
                        <small class="d-flex align-items-center">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="green"
                            class="bi bi-check2-square"
                            viewBox="0 0 16 16"
                            class="mr-2"
                          >
                            <path
                              d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"
                            />
                            <path
                              d="M8.354 10.354l7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"
                            />
                          </svg>
                          I Agree to the
                          <a
                            href="https://docs.google.com/document/d/1cW8FmAT-dHJB33Nc8KKVc00YfXyfHaLmZdTf-ydsDSc/edit#heading=h.pz3lisb8tb5d"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Terms and Conditions</a
                          >
                          &nbsp; and &nbsp;
                          <a
                            href="https://docs.google.com/document/d/1h-w7HBzrv5bWpF8xefKS2WGKMuvuwsLnMFb6_Vj1uIg/edit"
                            target="_blank"
                            rel="noopener noreferrer"
                          >
                            Privacy Policy</a
                          >.
                        </small>
                      </div>
                      <div class="col-lg-12 text-right">
                        <div class="mt-4 text-right">
                          <button
                            class="btn btn-main2"
                            [disabled]="!signupForm.form.valid"
                            type="submit"
                          >
                            &nbsp;&nbsp;&nbsp;&nbsp;SUBMIT&nbsp;&nbsp;&nbsp;&nbsp;
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0 text-right">
              <button
                class="btn btn-link11"
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <!-- <i class="ti-check-box"></i> -->
                ALREADY A MEMBER?
              </button>
            </h2>
          </div>
          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <div class="col-lg-12 text-right">
                <button
                  class="btn btn-main text-center"
                  routerLinkActive="active"
                  [routerLink]="['/signin']"
                >
                  <i class="ti-user"></i>
                  &nbsp;&nbsp; SIGN IN &nbsp;&nbsp;
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
