<!-- 
<div id="main-wrapper">
 
    <div class="page-wrapper">
       
        <div class="container-fluid">
            <app-breadcrumb></app-breadcrumb>
        
            <router-outlet></router-outlet>
          
        </div>
    
    </div>
   

</div> -->
<router-outlet></router-outlet>