<section class="blog-section section-padding" style="padding:26px 0px;">
  <div class="row justify-content-center">
    <div class="col-lg-11">
      <div class="block">
        <div class="row col">
          <div class="text-left col">
            <a routerLinkActive="active" [routerLink]="['/meals']" class="text-left">
              <i class="ti-angle-left"></i>
              Go Back
            </a>
          </div>
          <div class="text-right col">
            <p class="text-right">Meals Subscription</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <a class="text-primary " style="cursor: pointer;    font-weight: 500;
            font-size: large;
        " (click)="readMore()">Click to read about Njas Meal Plan Subscription</a>
        </div>
        <br />

        <form #subscribeForm="ngForm" (ngSubmit)="onClickSubmit(subscribeForm)">


          <span *ngIf="(storeArr | json) !== '[]'">
            <div class="row">
              <div class="accordion" style="width: 100%;">
                <div class="card ">
                  <div class="card-header" id="headingOne">
                    <div class="row">
                      <div class="col-md-6 text-center">
                        <h1 class="mb-0">
                          <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <i class="ti-check-box"></i>
                            Choose - Your Plan
                          </button>
                        </h1>
                      </div>
                      <div class="col-md-6 text-center">
                        <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                          [ Choice :
                          {{
                          subscriptionData.plan
                          ? subscriptionData.plan
                          : 'Not selected'
                          }}
                          ]
                        </button>
                      </div>
                    </div>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="items text-center">
                    
                        <div class="item">
                          <label class="feature-item style-2 highlight-item">
                            <div class="feature-img">
                              <p>
                                Long day at the office? <br />No worries,We have
                                you covered.
                              </p>
                            </div>
                            <div class="feature-content">
                              <hr />
                              <h4>
                                <i class="ti-star"></i> &nbsp;5-DAY
                                PACKAGE&nbsp;<i class="ti-star"></i>
                              </h4>
                              <hr />
                              <p>JMD $6500</p>
                            </div>
                            <input type="radio" value="5-day" class="form-control form-control-alternative radioman"
                              name="plan" #plan="ngModel" [(ngModel)]="subscriptionData.plan" />
                          </label>
                        </div>

                        <div class="item">
                          <label class="feature-item style-2 highlight-item">
                            <div class="feature-img">
                              <p>
                                Netflix and chill,
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />We're on the
                                way.
                              </p>
                            </div>
                            <div class="feature-content">
                              <hr />
                              <h4>4-WEEK PACKAGE</h4>
                              <hr />
                              <p>JMD $24000</p>
                            </div>
                            <input type="radio" value="4-week" class="form-control form-control-alternative radioman"
                              name="plan" #plan="ngModel" [(ngModel)]="subscriptionData.plan" />
                          </label>
                        </div>


                        <div class="item">
                          <label class="feature-item style-2  highlight-item">
                            <div class="feature-img">
                              <p>
                                For all food dilettantes, <br />No prolonged
                                commitments.
                              </p>
                            </div>
                            <div class="feature-content">
                              <hr />
                              <h4>CUSTOM PACKAGE</h4>
                              <hr />
                              <p>JMD $1500/Day</p>
                            </div>
                            <input type="radio" value="custom" class="form-control form-control-alternative radioman"
                              name="plan" #plan="ngModel" [(ngModel)]="subscriptionData.plan" />
                          </label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <section *ngIf="subscriptionData.plan">
                  <div class="card accordion-item">
                    <div class="card-header accordion-header" id="headingOne">
                      <div class="row">
                        <div class="col-md-6 text-center">
                          <h1 class="mb-0">
                            <button class="btn btn-link11" type="button" data-toggle="collapse"
                              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <i class="ti-check-box"></i>
                              Choose - Monday Meal Choice
                            </button>
                          </h1>
                        </div>
                        <div class="col-md-6 text-center">
                          <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            [ Choice :
                            {{
                            subscriptionData.monday
                            ? subscriptionData.monday !== 'none'
                            ? this.storeArr.products[
                            subscriptionData.monday
                            ].name
                            : subscriptionData.monday
                            : 'Not selected'
                            }}
                            ]
                          </button>
                        </div>
                      </div>
                    </div>

                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample">
                      <div class="card-body">
                        <div class="items text-center">
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.monday.products[0].images1
                              }}" alt="{{
                                this.mealsMenuArr.monday.products[0].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{ this.mealsMenuArr.monday.products[0].name }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.monday.products[0].description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.monday.products[0].id
                              }}" class="form-control form-control-alternative radioman" name="monday"
                                #monday="ngModel" [(ngModel)]="subscriptionData.monday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.monday.products[1].images1
                              }}" alt="{{
                                this.mealsMenuArr.monday.products[1].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{ this.mealsMenuArr.monday.products[1].name }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.monday.products[1].description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.monday.products[1].id
                              }}" class="form-control form-control-alternative radioman" name="monday"
                                #monday="ngModel" [(ngModel)]="subscriptionData.monday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.monday.products[2].images1
                              }}" alt="{{
                                this.mealsMenuArr.monday.products[2].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{ this.mealsMenuArr.monday.products[2].name }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.monday.products[2].description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.monday.products[2].id
                              }}" class="form-control form-control-alternative radioman" name="monday"
                                #monday="ngModel" [(ngModel)]="subscriptionData.monday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="./assets/food/none.jpg" alt="Choice3" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  Not Required on this Day?
                                </h4>
                                <hr />
                                <span class="three-lines">Choose to Skip this day</span>
                              </div>

                              <input type="radio" value="none" class="form-control form-control-alternative radioman"
                                name="monday" #monday="ngModel" [(ngModel)]="subscriptionData.monday" />
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <div class="row">
                        <div class="col-md-6 text-center">
                          <h1 class="mb-0">
                            <button class="btn btn-link11" type="button" data-toggle="collapse"
                              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <i class="ti-check-box"></i>
                              Choose - Tuesday Meal Choice
                            </button>
                          </h1>
                        </div>
                        <div class="col-md-6 text-center">
                          <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            [ Choice :
                            {{
                            subscriptionData.tuesday
                            ? subscriptionData.tuesday !== 'none'
                            ? this.storeArr.products[
                            subscriptionData.tuesday
                            ].name
                            : subscriptionData.tuesday
                            : 'Not
                            selected'
                            }}
                            ]
                          </button>
                        </div>
                      </div>
                    </div>

                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="items text-center">
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.tuesday.products[0].images1
                              }}" alt="{{
                                this.mealsMenuArr.tuesday.products[0].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{ this.mealsMenuArr.tuesday.products[0].name }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.tuesday.products[0]
                                  .description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.tuesday.products[0].id
                              }}" class="form-control form-control-alternative radioman" name="tuesday"
                                #tuesday="ngModel" [(ngModel)]="subscriptionData.tuesday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.tuesday.products[1].images1
                              }}" alt="{{
                                this.mealsMenuArr.tuesday.products[1].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{ this.mealsMenuArr.tuesday.products[1].name }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.tuesday.products[1]
                                  .description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.tuesday.products[1].id
                              }}" class="form-control form-control-alternative radioman" name="tuesday"
                                #tuesday="ngModel" [(ngModel)]="subscriptionData.tuesday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.tuesday.products[2].images1
                              }}" alt="{{
                                this.mealsMenuArr.tuesday.products[2].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{ this.mealsMenuArr.tuesday.products[2].name }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.tuesday.products[2]
                                  .description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.tuesday.products[2].id
                              }}" class="form-control form-control-alternative radioman" name="tuesday"
                                #tuesday="ngModel" [(ngModel)]="subscriptionData.tuesday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="./assets/food/none.jpg" alt="Choice3" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  Not Required on this Day?
                                </h4>
                                <hr />
                                <span class="three-lines">Choose to Skip this day</span>
                              </div>

                              <input type="radio" value="none" class="form-control form-control-alternative radioman"
                                name="tuesday" #tuesday="ngModel" [(ngModel)]="subscriptionData.tuesday" />
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <div class="row">
                        <div class="col-md-6 text-center">
                          <h1 class="mb-0">
                            <button class="btn btn-link11" type="button" data-toggle="collapse"
                              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <i class="ti-check-box"></i>
                              Choose - Wednesday Meal Choice
                            </button>
                          </h1>
                        </div>
                        <div class="col-md-6 text-center">
                          <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            [ Choice :
                            {{
                            subscriptionData.wednesday
                            ? subscriptionData.wednesday !== 'none'
                            ? this.storeArr.products[
                            subscriptionData.wednesday
                            ].name
                            : subscriptionData.wednesday
                            : 'Not
                            selected'
                            }}
                            ]
                          </button>
                        </div>
                      </div>
                    </div>

                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="items text-center">
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.wednesday.products[0].images1
                              }}" alt="{{
                                this.mealsMenuArr.wednesday.products[0].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{
                                  this.mealsMenuArr.wednesday.products[0].name
                                  }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.wednesday.products[0]
                                  .description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.wednesday.products[0].id
                              }}" class="form-control form-control-alternative radioman" name="wednesday"
                                #wednesday="ngModel" [(ngModel)]="subscriptionData.wednesday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.wednesday.products[1].images1
                              }}" alt="{{
                                this.mealsMenuArr.wednesday.products[1].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{
                                  this.mealsMenuArr.wednesday.products[1].name
                                  }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.wednesday.products[1]
                                  .description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.wednesday.products[1].id
                              }}" class="form-control form-control-alternative radioman" name="wednesday"
                                #wednesday="ngModel" [(ngModel)]="subscriptionData.wednesday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.wednesday.products[2].images1
                              }}" alt="{{
                                this.mealsMenuArr.wednesday.products[2].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{
                                  this.mealsMenuArr.wednesday.products[2].name
                                  }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.wednesday.products[2]
                                  .description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.wednesday.products[2].id
                              }}" class="form-control form-control-alternative radioman" name="wednesday"
                                #wednesday="ngModel" [(ngModel)]="subscriptionData.wednesday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="./assets/food/none.jpg" alt="Choice3" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  Not Required on this Day?
                                </h4>
                                <hr />
                                <span class="three-lines">Choose to Skip this day</span>
                              </div>

                              <input type="radio" value="none" class="form-control form-control-alternative radioman"
                                name="wednesday" #wednesday="ngModel" [(ngModel)]="subscriptionData.wednesday" />
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <div class="row">
                        <div class="col-md-6 text-center">
                          <h1 class="mb-0">
                            <button class="btn btn-link11" type="button" data-toggle="collapse"
                              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <i class="ti-check-box"></i>
                              Choose - Thursday Meal Choice
                            </button>
                          </h1>
                        </div>
                        <div class="col-md-6 text-center">
                          <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            [ Choice :
                            {{
                            subscriptionData.thursday
                            ? subscriptionData.thursday !== 'none'
                            ? this.storeArr.products[
                            subscriptionData.thursday
                            ].name
                            : subscriptionData.thursday
                            : 'Not
                            selected'
                            }}
                            ]
                          </button>
                        </div>
                      </div>
                    </div>

                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="items text-center">
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.thursday.products[0].images1
                              }}" alt="{{
                                this.mealsMenuArr.thursday.products[0].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{
                                  this.mealsMenuArr.thursday.products[0].name
                                  }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.thursday.products[0]
                                  .description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.thursday.products[0].id
                              }}" class="form-control form-control-alternative radioman" name="thursday"
                                #thursday="ngModel" [(ngModel)]="subscriptionData.thursday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.thursday.products[1].images1
                              }}" alt="{{
                                this.mealsMenuArr.thursday.products[1].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{
                                  this.mealsMenuArr.thursday.products[1].name
                                  }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.thursday.products[1]
                                  .description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.thursday.products[1].id
                              }}" class="form-control form-control-alternative radioman" name="thursday"
                                #thursday="ngModel" [(ngModel)]="subscriptionData.thursday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.thursday.products[2].images1
                              }}" alt="{{
                                this.mealsMenuArr.thursday.products[2].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{
                                  this.mealsMenuArr.thursday.products[2].name
                                  }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.thursday.products[2]
                                  .description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.thursday.products[2].id
                              }}" class="form-control form-control-alternative radioman" name="thursday"
                                #thursday="ngModel" [(ngModel)]="subscriptionData.thursday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="./assets/food/none.jpg" alt="Choice3" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  Not Required on this Day?
                                </h4>
                                <hr />
                                <span class="three-lines">Choose to Skip this day</span>
                              </div>

                              <input type="radio" value="none" class="form-control form-control-alternative radioman"
                                name="thursday" #thursday="ngModel" [(ngModel)]="subscriptionData.thursday" />
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <div class="row">
                        <div class="col-md-6 text-center">
                          <h1 class="mb-0">
                            <button class="btn btn-link11" type="button" data-toggle="collapse"
                              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <i class="ti-check-box"></i>
                              Choose - Friday Meal Choice
                            </button>
                          </h1>
                        </div>
                        <div class="col-md-6 text-center">
                          <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            [ Choice :
                            {{
                            subscriptionData.friday
                            ? subscriptionData.friday !== 'none'
                            ? this.storeArr.products[
                            subscriptionData.friday
                            ].name
                            : subscriptionData.friday
                            : 'Not
                            selected'
                            }}
                            ]
                          </button>
                        </div>
                      </div>
                    </div>

                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="items text-center">
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.friday.products[0].images1
                              }}" alt="{{
                                this.mealsMenuArr.friday.products[0].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{ this.mealsMenuArr.friday.products[0].name }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.friday.products[0].description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.friday.products[0].id
                              }}" class="form-control form-control-alternative radioman" name="friday"
                                #friday="ngModel" [(ngModel)]="subscriptionData.friday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.friday.products[1].images1
                              }}" alt="{{
                                this.mealsMenuArr.friday.products[1].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{ this.mealsMenuArr.friday.products[1].name }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.friday.products[1].description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.friday.products[1].id
                              }}" class="form-control form-control-alternative radioman" name="friday"
                                #friday="ngModel" [(ngModel)]="subscriptionData.friday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="{{
                                this.mealsMenuArr.friday.products[2].images1
                              }}" alt="{{
                                this.mealsMenuArr.friday.products[2].name
                              }}" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  {{ this.mealsMenuArr.friday.products[2].name }}
                                </h4>
                                <hr />
                                <span class="three-lines">{{
                                  this.mealsMenuArr.friday.products[2].description
                                  }}</span>
                              </div>

                              <input type="radio" value="{{
                                this.mealsMenuArr.friday.products[2].id
                              }}" class="form-control form-control-alternative radioman" name="friday"
                                #friday="ngModel" [(ngModel)]="subscriptionData.friday" />
                            </div>
                          </label>
                          <label class="item">
                            <div class="team-item">
                              <img src="./assets/food/none.jpg" alt="Choice3" class="img-fluid fixed-size-food" />
                              <div class="team-info">
                                <h4 class="two-lines">
                                  Not Required on this Day?
                                </h4>
                                <hr />
                                <span class="three-lines">Choose to Skip this day</span>
                              </div>

                              <input type="radio" value="none" class="form-control form-control-alternative radioman"
                                name="friday" #friday="ngModel" [(ngModel)]="subscriptionData.friday" />
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="card" *ngIf="subscriptionData.friday && subscriptionData.friday!=='none'">


                  <div class="card-header" id="headingOne">

                    <div class="row">
                      <div class="col-md-6 text-center">
                        <h1 class="mb-0">
                          <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <i class="ti-check-box"></i>
                            Dessert or Fruit Bowl On Friday ? <br><sub class="text-light"
                              style="text-transform:none">(Note :
                              Applicable only if you have subscribed for Friday)</sub>
                          </button>
                        </h1>
                      </div>
                      <div class="col-md-6 text-center">
                        <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                          [ Choice :

                          {{(subscriptionData.friday_special)?(subscriptionData.friday_special!=='none')?this.storeArr.products[subscriptionData.friday_special].name:subscriptionData.friday_special:"Not
                          selected"}}
                          ]
                        </button>
                      </div>
                    </div>


                  </div>



                  <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                    data-parent="#accordionExample">
                    <div class="card-body service" style="padding-bottom: 15px;">



                      <div class="items text-center no-gutters">
                        <label class="item">
                          <div class="service-item style-2 highlight-item">
                            <div class="service-img">
                              <img src="{{this.mealsMenuArr.friday_special.products[0].images1}}"
                                alt="{{this.mealsMenuArr.friday_special.products[0].name}}" class="img-fluid">
                            </div>
                            <h4>{{this.mealsMenuArr.friday_special.products[0].name}}</h4>
                           
                            <input type="radio" value="{{this.mealsMenuArr.friday_special.products[0].id}}"
                            class="form-control form-control-alternative radioman" name="friday_special"
                            #friday_special="ngModel" [(ngModel)]="subscriptionData.friday_special" />
                          </div>
                          <br>
                         
                        </label>




                        <label class="item">
                          <div class="service-item style-2 highlight-item">
                            <div class="service-img">
                              <img src="{{this.mealsMenuArr.friday_special.products[1].images1}}"
                                alt="{{this.mealsMenuArr.friday_special.products[1].name}}" class="img-fluid">
                            </div>
                            <h4>{{this.mealsMenuArr.friday_special.products[1].name}}</h4>
                           
                            <input type="radio" value="{{this.mealsMenuArr.friday_special.products[1].id}}"
                            class="form-control form-control-alternative radioman" name="friday_special"
                            #friday_special="ngModel" [(ngModel)]="subscriptionData.friday_special" />
                          </div>
                          <br>
                         
                        </label>



                        <label class="item">
                          <div class="service-item style-2 highlight-item">
                            <div class="service-img">
                              <img src="./assets/food/none.jpg" alt="" class="img-fluid">
                            </div>
                            <h4>Skip</h4>
                           
                            <input type="radio" value="none" class="form-control form-control-alternative radioman"
                            name="friday_special" #friday_special="ngModel"
                            [(ngModel)]="subscriptionData.friday_special" />
                          </div>
                          <br>

                        
                        </label>


                      </div>


                    </div>
                  </div>
                </div> -->
                </section>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="text-left col-md-6"></div>

              <div class="text-right col-md-6">
                <button type="submit" class="btn btn-main text-right">
                  &nbsp;&nbsp; Next &nbsp;&nbsp;
                  <i class="ti-angle-right"></i>
                </button>
              </div>
            </div>
          </span>



        </form>


        <div class="text-center card-body contact__msg" *ngIf="(storeArr | json) === '[]'">
          <div class="col-lg-12">
            <div class="alert alert-warning " role="alert">
              <br />
              <h5>
                Oops! Network error.
              </h5>
              <a class="btn btn-main text-center text-white" (click)="getStoreDetails()">
                Retry</a>
              <br />
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
  <span (click)="readMore()" class="float" style="cursor: pointer;">
    <i class="fa fa-info my-float"></i>
  </span>
</section>