a.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.fixed-size-food {
  width: 100%;
  height: 250px;
  padding: 10%;
  object-fit: contain;
  // object-fit: cover
}

.highlight-item:hover {
  background-color: yellow;
  cursor: pointer;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 999;
}

.my-float {
  margin-top: 22px;
}

@media (min-width: 768px) {
  // .items{
  // overflow-x: scroll;
  // width: auto;
  //     white-space: nowrap;
  //     background-color: white;
  //     padding-top: 5%;
  //     padding-left: 2.5%;
  //     padding-right: 2.5%;
  //     padding-bottom: 0%;

  // }
  .item {
    vertical-align: top;
    display: inline-block;
    width: 25%;
    padding: 5px;
    align-items: center;
    //  height: 100px;
    //  border:1px solid;
  }
}

@media (max-width: 768px) {
  .items {
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
    background-color: white;
    padding-top: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 0%;
  }
  .item {
    vertical-align: top;
    display: inline-block;
    width: 80%;
    padding: 5px;
    //  height: 100px;
    //  border:1px solid;
  }
}

.radioman {
  position: absolute;
  top: 3%;
  right: 3% !important;
  width: 8%;
}

// .team-item{
//   margin-bottom: 5px;
// }

.three-lines {
  font-size: 12px;
  line-height: 0.5em;
  height: 3em;
  white-space: pre-line !important;
  overflow: hidden;
}
.two-lines {
  font-size: 12px;
  line-height: 1.5em;
  height: 3em; /* height is 2x line-height, so two lines will display */
  overflow: hidden; /* prevents extra lines from being visible */

  white-space: pre-line;

  //  text-align: justify;
  //font-size: x-small;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #b0dc39e8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.feature-item {
  padding: 10px;
}
.swal2-content p {
  text-align: left;
}
