<section class="blog-section section-padding" style="padding:26px 0px;">
  <div class="row justify-content-center">
    <div class="col-lg-11">


      <div class="block">
        <div class="card">
          <div class="text-center card-body contact__msg" style="display: none">
            <div class="col-lg-12">
              <div class="alert alert-success " role="alert">
                <br>
                <h5> You are yet to complete email verification. Look for the verification email in your inbox and click
                  the link in
                  that
                  email to
                  get started.
                </h5>
                <a class="btn btn-success btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/home']">Back
                  to
                  home</a>
                <br>
              </div>
            </div>
          </div>

          <form class="ion-padding" #signinForm="ngForm" (ngSubmit)="submitForm(signinForm)" id="formDiv">


            <div class="card-header" id="headingOne">
              <h2 class="mb-0 text-right">
                <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <i class="ti-user"></i>
                  SIGN IN
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">





                <div class="row justify-content-center">

                  <div class="col-lg-12">
                    <div class="row form-row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success">Email Address <span
                              class="text-danger small">(*required)</span></span>
                          <input type="email" name="email" id="email" class="form-control" style="height: 60px;"
                            placeholder="Enter Email Address" name="email" #email="ngModel"
                            pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" [(ngModel)]="customerDetailsArr.email" required>

                          <span class="small text-danger" *ngIf="(email.invalid && email.touched )">*invalid</span>
                        </div>
                      </div>

                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success">Password <span class="text-danger small">(*required)</span></span>

                          <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
                            <input type="password" name="password" id="password" class="form-control"
                              style="height: 60px;" placeholder="Password" name="password" #password="ngModel"
                              [(ngModel)]="customerDetailsArr.password" required>
                          </show-hide-password>


                          <span class="small text-danger"
                            *ngIf="(password.invalid && password.touched )">*invalid</span>
                        </div>
                      </div>


                      <div class="col-lg-12 text-right">
                        <!-- <div class="form-group">
                          <input type="checkbox" class="form-control form-check-input" id="terms" value="1" checked>
                          <label class="form-check-label" for="terms" ></label>
                        </div> -->
                        <span class="post-comment"><a routerLinkActive="active"
                            [routerLink]="['/forgot-password']">FORGOT PASSWORD?</a></span>
                      </div>
                      <div class="col-lg-12 text-right">
                        <div class="mt-4 text-right">
                          <button class="btn btn-main2" [disabled]="!(signinForm.form.valid)"
                            type="submit">&nbsp;&nbsp;&nbsp;&nbsp;SUBMIT&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </div>
                      </div>

                    </div>



                  </div>
                </div>



              </div>
            </div>



          </form>

        </div>



        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0 text-right">
              <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <!-- <i class="ti-check-box"></i> -->
                NOT A MEMBER?
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">

              <div class="col-lg-12 text-right">

                <button class="btn btn-main text-center" routerLinkActive="active" [routerLink]="['/signup']">

                  <i class="ti-plus"></i>
                  &nbsp;&nbsp;
                  CREATE AN ACCOUNT
                  &nbsp;&nbsp;

                </button>
              </div>

            </div>
          </div>



        </div>

      </div>



    </div>
  </div>
</section>