<section class="blog-section section-padding" style="padding:26px 0px;">
  <div class="row justify-content-center">
    <div class="col-lg-11">
      <div class="block">
        <div class="card">
          <div class="text-center card-body contact__msg" style="display: none">
            <div class="col-lg-12">
              <div class="alert alert-success " role="alert">
                <br />
                <h5>
                  Your <strong class="text-success">account</strong> created.
                  Thank you for joining with us!
                </h5>
                <a
                  class="btn btn-success btn-rounded waves-effect waves-light m-b-40"
                  [routerLink]="['/home']"
                  >Back to home</a
                >
                <br />
              </div>
            </div>
          </div>

          <form
            class="ion-padding"
            #profileUpdateForm="ngForm"
            (ngSubmit)="submitForm(profileUpdateForm)"
            id="formDiv"
          >
            <input
              name="id"
              #id="ngModel"
              [(ngModel)]="customerDetailsArr.id"
              type="hidden"
              value="{{ customerDetailsArr.id }}"
            />

            <div class="card-header" id="headingOne">
              <div class="row">
                <div class="col">
                  <a
                    routerLinkActive="active"
                    [routerLink]="['/user-navigation']"
                    class="text-left"
                  >
                    <i class="ti-angle-left"></i>
                    Go Back
                  </a>
                </div>

                <div class="col">
                  <h2 class="mb-0 text-right">
                    <button
                      class="btn btn-link11"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      <i class="ti-user"></i>
                      PROFILE
                    </button>
                  </h2>
                </div>
              </div>
            </div>
            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-lg-12">
                    <div class="row form-row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success"
                            >Full Name
                            <span class="text-danger small"
                              >(*required)</span
                            ></span
                          >
                          <input
                            type="text"
                            name="name"
                            id="name"
                            class="form-control"
                            style="height: 60px;"
                            placeholder="Enter Full Name"
                            name="name"
                            #name="ngModel"
                            [(ngModel)]="customerDetailsArr.name"
                            required
                          />
                          <span
                            class="small text-danger"
                            *ngIf="name.invalid && name.touched"
                            >*invalid</span
                          >
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success"
                            >Primary Mobile Number
                            <span class="text-danger small">(*required)</span>
                            &nbsp; &nbsp; &nbsp;
                            <span
                              class="text-primary small"
                              *ngIf="
                                customerDetailsArr.mobile_verification &&
                                customerDetailsArr.mobile_verification ===
                                  'true'
                              "
                            >
                              <i class="fa fa-check"></i> VERIFIED</span
                            >
                            <span
                              class="text-warning small"
                              *ngIf="
                                !customerDetailsArr.mobile_verification ||
                                customerDetailsArr.mobile_verification ===
                                  'false'
                              "
                            >
                              <i class="fa fa-times"></i> NOT VERIFIED</span
                            ></span
                          >
                          <input
                            type="tel"
                            name="mobile"
                            id="mobile"
                            class="form-control"
                            [readonly]="
                              customerDetailsArr.mobile_verification &&
                              customerDetailsArr.mobile_verification === 'true'
                            "
                            style="height: 60px;"
                            (keypress)="numberOnly($event)"
                            placeholder="876-523-0123"
                            name="mobile"
                            #mobile="ngModel"
                            [(ngModel)]="customerDetailsArr.mobile"
                            required
                          />

                          <span
                            class="small text-danger"
                            *ngIf="mobile.invalid && mobile.touched"
                            >*invalid</span
                          >
                        </div>

                        <div class="col-lg-12 text-right">
                          <div class="mt-4 text-right">
                            <div
                              [hidden]="
                                user ||
                                customerDetailsArr.mobile_verification ===
                                  'true'
                              "
                            >
                              <div id="recaptcha-container"></div>

                              <div *ngIf="windowRef.confirmationResult">
                                <!-- <hr> -->
                                <label for="code"
                                  >Enter your Verification Code Here</label
                                ><br />
                                <input
                                  type="text"
                                  name="code"
                                  [(ngModel)]="verificationCode"
                                  placeholder="OTP"
                                />
                                <br />
                                <br />
                                <span
                                  class="btn btn-main2"
                                  (click)="
                                    verifyLoginCode()
                                  "
                                  >Verify</span
                                >
                              </div>
                              <div *ngIf="!windowRef.confirmationResult">
                                <span
                                  class="btn btn-main2"
                                  (click)="
                                    sendLoginCode(customerDetailsArr.mobile)
                                  "
                                  *ngIf="
                                    !customerDetailsArr.mobile_verification ||
                                    customerDetailsArr.mobile_verification ===
                                      'false'
                                  "
                                  >SMS OTP CODE</span
                                >
                              </div>
                            </div>

                            <div *ngIf="user" class="text-success">
                              You have successfully verified your phone number!
                              <!-- UserId: {{ user?.uid }} -->
                              <br />
                              <br />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success"
                            >Secondary Mobile Number
                            <span class="text-dark small"
                              >(optional)</span
                            ></span
                          >
                          <input
                            type="tel"
                            name="secondary_mobile"
                            id="secondary_mobile"
                            class="form-control"
                            (keypress)="numberOnly($event)"
                            style="height: 60px;"
                            placeholder="Enter Secondary Mobile Number"
                            name="secondary_mobile"
                            #secondary_mobile="ngModel"
                            [(ngModel)]="customerDetailsArr.secondary_mobile"
                          />
                          <!-- <span class="small text-danger" *ngIf="(secondary_mobile.invalid && secondary_mobile.touched )">*invalid</span> -->
                        </div>
                      </div>

                      <!-- <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success">Full Name</span>
                          <input type="text" name="fname" id="fname" class="form-control" style="height: 60px;"
                            placeholder="Enter First Name" name="fname" #fname="ngModel"
                            [(ngModel)]="customerDetailsArr.fname" required>

                          <span class="small text-danger" *ngIf="(fname.invalid && fname.touched )">*invalid</span>
                        </div>
                      </div>


                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success">Last Name</span>
                          <input type="text" name="lname" id="lname" class="form-control" style="height: 60px;"
                            placeholder="Enter Last Name" name="lname" #lname="ngModel"
                            [(ngModel)]="customerDetailsArr.lname" required>

                          <span class="small text-danger" *ngIf="(lname.invalid && lname.touched )">*invalid</span>
                        </div>
                      </div> -->
                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success"
                            >Address
                            <span class="text-danger small"
                              >(*required)</span
                            ></span
                          >
                          <textarea
                            cols="30"
                            rows="4"
                            class="form-control"
                            placeholder="Address"
                            name="address1"
                            #address1="ngModel"
                            [(ngModel)]="customerDetailsArr.address1"
                            required
                          ></textarea>

                          <span
                            class="small text-danger"
                            *ngIf="address1.invalid && address1.touched"
                            >*invalid</span
                          >
                        </div>
                      </div>

                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success"
                            >Email Address &nbsp; &nbsp; &nbsp;<span
                              class="text-primary small"
                            >
                              <i class="fa fa-check"></i> VERIFIED</span
                            ></span
                          >
                          <input
                            type="email"
                            name="email"
                            id="email"
                            class="form-control"
                            style="height: 60px;"
                            disabled
                            placeholder="Enter Email Address"
                            name="email"
                            #email="ngModel"
                            pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
                            [(ngModel)]="customerDetailsArr.email"
                            required
                          />

                          <span
                            class="small text-danger"
                            *ngIf="email.invalid && email.touched"
                            >*invalid</span
                          >
                        </div>
                      </div>

                      <!-- <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success">Password <span class="text-danger small">(*required)</span></span>
                          <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
                            <input type="password" name="password" id="password" class="form-control"
                              style="height: 60px;" placeholder="Enter Password" name="password" #password="ngModel"
                              [(ngModel)]="customerDetailsArr.password" required>
                          </show-hide-password>
                          <span class="small text-danger"
                            *ngIf="(password.invalid && password.touched )">*invalid</span>
                        </div>
                      </div> -->

                      <div class="col-lg-12 text-right">
                        <div class="mt-4 text-right">
                          <button
                            class="btn btn-main2"
                            [disabled]="!profileUpdateForm.form.valid"
                            type="submit"
                          >
                            &nbsp;&nbsp;&nbsp;&nbsp;EDIT&nbsp;&nbsp;&nbsp;&nbsp;
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br />
          </form>

          <br />
        </div>
      </div>
    </div>
  </div>
</section>
