<section class="blog-section section-padding" style="padding:26px 0px;">
  <div class="row justify-content-center">
    <div class="col-lg-11">


      <div class="block">
        <div class="card">









          <section>
            <div class="card-header" id="headingOne">


              <div class="row">
                <div class="col">
                  <a routerLinkActive="active" [routerLink]="['/my-meals']" class="text-left">
                    <i class="ti-angle-left"></i>
                    Go Back
                  </a>
                </div>

                <div class="col">
                  <h2 class="mb-0 text-right">
                    <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                      <i class="ti-receipt"></i>
                      Order Details
                    </button>
                  </h2>
                </div>



              </div>

            </div>


            <div class="text-center card-body contact__msg" *ngIf="!orderDetails">
              <div class="col-lg-12">
                <div class="alert alert-warning " role="alert">
                  <br>
                  <h5> No <strong class="text-success">Order(s)</strong> to display!</h5>
                  <a class="btn btn-success btn-rounded waves-effect waves-light m-b-40"
                    [routerLink]="['/user-navigation']"> Go Back</a>
                  <br>
                </div>
              </div>
            </div>


            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample"
              *ngIf="orderDetails">









              <div class="card-body">


                <section class="row">
                  <div class="col-lg-12 col-md-12">













                    <!DOCTYPE html>
                    <html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

                    <head>



                      <meta name="author" content="notjusasalad.com">
                      <title>NotJusASalad - Thank you for your meal subscription order!</title>
                      <meta name="keywords"
                        content="organic,food,marketing,shop,product,organic food,farmer,agriculture,fruits,vegetables,healthy food,resposnsive,Fruits Shop, vegetable store, Ecommerce, Stores, Orders, Payments, Groceries, Clothings, Shopping" />
                      <meta name="description" content="Fresh Organic foods." />
                      <meta name="viewport"
                        content="viewport-fit=cover, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5" />
                      <meta property="og:type" content="website" />
                      <meta property="og:title" content="NotJusASalad" />
                      <meta property="og:description" content="Fresh Organic foods." />
                      <meta property="og:image" content="./njaslt.jpg" />
                      <meta property="og:site_name" content="NotJusASalad" />
                      <!-- reduced for brevity -->
                      <meta name="description" content="Fresh Organic foods.">

                      <meta charset="utf8">
                      <meta http-equiv="x-ua-compatible" content="ie=edge">
                      <meta name="viewport" content="width=device-width, initial-scale=1">
                      <meta name="x-apple-disable-message-reformatting">



                      <!--[if mso]>
                      <xml>
                        <o:OfficeDocumentSettings>
                          <o:PixelsPerInch>96</o:PixelsPerInch>
                        </o:OfficeDocumentSettings>
                      </xml>
                      <style>
                        table {border-collapse: collapse;}
                        td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", Arial, sans-serif; mso-line-height-rule: exactly;}
                      </style>
                      <![endif]-->
                      <style>
                        .hover-text-brand-500:hover {
                          color: #0052e2 !important;
                        }

                        .hover-text-brand-700:hover {
                          color: #003ca5 !important;
                        }

                        .hover-underline:hover {
                          text-decoration: underline !important;
                        }

                        @media screen {
                          img {
                            max-width: 100%;
                          }

                          .all-font-sans {
                            font-family: -apple-system, "Segoe UI", sans-serif !important;
                          }
                        }

                        @media (max-width: 640px) {
                          u~div .wrapper {
                            min-width: 100vw;
                          }

                          .sm-block {
                            display: block !important;
                          }

                          .sm-inline-block {
                            display: inline-block !important;
                          }

                          .sm-h-24 {
                            height: 24px !important;
                          }

                          .sm-h-32 {
                            height: 32px !important;
                          }

                          .sm-h-64 {
                            height: 64px !important;
                          }

                          .sm-mt-16 {
                            margin-top: 16px !important;
                          }

                          .sm-px-0 {
                            padding-left: 0 !important;
                            padding-right: 0 !important;
                          }

                          .sm-px-16 {
                            padding-left: 16px !important;
                            padding-right: 16px !important;
                          }

                          .sm-py-24 {
                            padding-top: 24px !important;
                            padding-bottom: 24px !important;
                          }

                          .sm-pb-32 {
                            padding-bottom: 32px !important;
                          }

                          .sm-align-top {
                            vertical-align: top !important;
                          }

                          .sm-w-auto {
                            /* width: auto !important; */
                          }

                          .sm-w-full {
                            width: 100% !important;
                          }
                        }
                      </style>
                    </head>

                    <body lang="en"
                      style="margin: 0; padding: 0; width: 100%; word-break: break-word; -webkit-font-smoothing: antialiased; background-color: #ffffff;"
                      *ngIf="orderDetails">
                      <div style="display: none; line-height: 0; font-size: 0;"> Thank you for
                        your
                        order!&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;
                        &#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;
                        &#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;&zwnj;&#160;</div>
                      <table class="wrapper all-font-sans" style="width: 100%;" cellpadding="0" cellspacing="0"
                        role="presentation">
                        <tr>
                          <td align="center" style bgcolor="#ffffff">
                            <table class="sm-w-full" style="width: 640px;" cellpadding="0" cellspacing="0"
                              role="presentation">
                              <tr>
                                <td align="left" class="sm-px-16 sm-py-24"
                                  style="padding-left: 10px; padding-right: 10px; padding-top: 48px; padding-bottom: 48px;"
                                  bgcolor="#ffffff">
                                  <div style="margin-bottom: 24px;">
                                    <a href="http://notjusasalad.com" style="color: #0047c3; text-decoration: none;">
                                      <img src="./assets/images/receipt-logo.jpg" alt="notjusasalad" width="143"
                                        style="line-height: 100%; vertical-align: middle; border: 0;">
                                    </a>
                                  </div>


                                  <h2
                                    style="font-weight: 400; line-height: 30px; margin: 0; margin-bottom: 32px; color: #4a5566; font-size: 14px;">
                                    Order &#8470; &nbsp; &nbsp;&nbsp; :<a href="#"
                                      class="hover-text-brand-700 hover-underline"
                                      style="color: #0047c3; text-decoration: none;">
                                      {{orderDetails.order_id | slice : -6}}</a>


                                    <br>
                                    Placed on &nbsp;&nbsp; :<a href="#" class="hover-text-brand-700 hover-underline"
                                      style="color: #0047c3; text-decoration: none;">
                                      {{orderDetails.date_created | date :'medium'}}</a>

                                    <br>
                                    Plan &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :<a href="#"
                                      class="hover-text-brand-700 hover-underline"
                                      style="color: #0047c3; text-decoration: none;"> {{orderDetails.plan}}</a><br>

                                    <br>




                                  </h2>



                                  <!--   <h2
                                  style="font-weight: 400; line-height: 30px; margin: 0; margin-bottom: 32px; color: #4a5566; font-size: 14px;">
                                    Selected Plan &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; :<a href="#" class="hover-text-brand-700 hover-underline"
                                      style="color: #0047c3; text-decoration: none;"> ####PLAN####</a>
                                 
                                 
                                   <br>
                                 
                                      Selected Days  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; :<a href="#" class="hover-text-brand-700 hover-underline"
                                      style="color: #0047c3; text-decoration: none;"> ####DAYS####</a>
                                      <br>
                                
                                      Selected Choice  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  :<a href="#" class="hover-text-brand-700 hover-underline"
                                        style="color: #0047c3; text-decoration: none;">  ####MEALS####</a>
                                         
                    
                                  </h2>-->



                                  <p
                                    style="line-height: 22px; margin-top: 0; margin-bottom: 16px; color: #8492a6; font-size: 16px;">
                                    Order
                                    summary :</p>



                                  <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation"
                                    *ngIf="orderDetails.meals">





                                    <tr *ngFor="let item of orderDetails.meals.booking_meals_items;">


                                      <td class="sm-align-top" style="width: 72px;">
                                        <a href="#" style="color: #0047c3; text-decoration: none;">
                                          <img src="{{item.item.images1}}" alt="item" width="48"
                                            style="line-height: 100%; vertical-align: middle; border: 0;">
                                        </a>
                                      </td>
                                      <td class="sm-w-auto"
                                        style="padding-top: 14px; text-align: left; vertical-align: top; width: 316px;"
                                        align="left" valign="top">
                                        <p style="margin-top: 0; margin-bottom: 12px;">
                                          <a href="#"
                                            style="text-decoration: none; font-weight: 700; color: #4a5566;">{{(item.item.name) }}, <br>Side - {{((orderDetails.meals.items[item.day.toLowerCase()] && item.day.toLowerCase() !== 'friday special') ? (orderDetails.meals.items[item.day.toLowerCase()].side?orderDetails.meals.items[item.day.toLowerCase()].side:'N/A') : ('N/A')) }}
                                          </a>
                                        </p>
                                      </td>
                                      <td
                                        style="font-weight: 700; padding-top: 14px; text-align: right; color: #4a5566; vertical-align: top; width: 172px;"
                                        align="right" valign="top"> {{item.day }}</td>
                                    </tr>






                                  </table>










                                  <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">



                                    <tr>
                                      <td style="padding-top: 12px; padding-bottom: 12px;">
                                        <div style="background-color: #e1e1ea; height: 2px; line-height: 2px;">&nbsp;
                                        </div>
                                      </td>
                                    </tr>
                                  </table>
                                  <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                                    <tr>
                                      <td class="sm-align-top" style="width: 200px;">
                                        <p
                                          style="line-height: 16px; margin-top: 0; margin-bottom: 8px; color: #8492a6; font-size: 12px;">
                                          Subtotal</p>
                                        <p style="line-height: 28px; margin: 0; color: #4a5566; font-size: 16px;">
                                          {{orderDetails.currency_symbol  | uppercase}} {{orderDetails.total}}</p>
                                      </td>

                                      <td style="text-align: right; color: #4a5566; vertical-align: top; width: 100px;"
                                        align="right" valign="top">
                                        <p
                                          style="line-height: 16px; margin-top: 0; margin-bottom: 8px; color: #8492a6; font-size: 12px;">
                                          Total</p>
                                        <p
                                          style="font-weight: 700; line-height: 28px; margin: 0; color: #4a5566; font-size: 12px;">

                                          {{ orderDetails.currency_symbol | uppercase}} {{ (+orderDetails.payable) }}
                                        </p>
                                      </td>
                                    </tr>
                                  </table>

                                  <hr>
                                  <h3 style="white-space: pre-line; text-shadow: slategray;">Allergies :</h3>
                                  <p style="white-space: pre-line; text-shadow: black;">
                                    {{orderDetails.notes}}</p>





                                  <div class="sm-h-64" style="line-height: 64px;">&nbsp;</div>
                                  <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                                    <tr>
                                      <td>
                                        <h2
                                          style="font-weight: 400; line-height: 30px; margin: 0; margin-bottom: 32px; color: #4a5566; font-size: 28px;">
                                          Customer information :</h2>
                                        <table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
                                          <tr>
                                            <td class="sm-inline-block sm-w-full sm-px-0"
                                              style="padding-right: 8px; padding-bottom: 32px; vertical-align: top; width: 50%;"
                                              valign="top">
                                              <h4
                                                style="line-height: 22px; margin: 0; margin-bottom: 8px; color: #8492a6; font-size: 16px;">
                                                Delivery address</h4>
                                              <p style="line-height: 22px; margin: 0; color: #8492a6; font-size: 16px;">
                                                {{orderDetails.name}}
                                                <br>
                                                {{((orderDetails.selected_delivery === 'p') ? 'N/A' : orderDetails.address1 + ', ' + orderDetails.address2) }}
                                              </p>
                                              <p style="line-height: 22px; margin: 0; color: #0047c3; font-size: 16px;">
                                                Tel : <a href="tel:+{{orderDetails.contact_no}}"
                                                  class="hover-text-brand-700 hover-underline"
                                                  style="color: #0047c3; text-decoration: none;">{{orderDetails.contact_no}}</a>
                                              </p>
                                            </td>



                                          </tr>



                                          <tr>
                                            <td class="sm-inline-block sm-w-full sm-px-0"
                                              style="padding-right: 8px; padding-bottom: 32px; vertical-align: top; width: 50%;"
                                              valign="top">
                                              <h4
                                                style="line-height: 22px; margin: 0; margin-bottom: 8px; color: #8492a6; font-size: 16px;">
                                                Shipping method</h4>
                                              <p style="line-height: 22px; margin: 0; color: #8492a6; font-size: 16px;"
                                                *ngIf="orderDetails.delivery_options">

                                                {{ ((orderDetails.delivery_options.name) ? orderDetails.delivery_options.name : 'N/A') }}




                                              </p>
                                            </td>
                                            <td class="sm-inline-block sm-w-full sm-px-0"
                                              style="padding-left: 8px; padding-bottom: 32px; vertical-align: top; width: 50%;"
                                              valign="top">
                                              <h4
                                                style="line-height: 22px; margin: 0; margin-bottom: 8px; color: #8492a6; font-size: 16px;">
                                                Payment method</h4>
                                              <table cellpadding="0" cellspacing="0" role="presentation">
                                                <tr>
                                                  <td style="padding-left: 8px;">
                                                    <p style="line-height: 22px; margin: 0; color: #8492a6; font-size: 16px;"
                                                      *ngIf="orderDetails.bank_options">
                                                      {{ orderDetails.bank_options.name }}

                                                    </p>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>


                                  <h3 style="white-space: pre-line; text-shadow: slategray;">Special instructions :</h3>
                                  <p style="white-space: pre-line; text-shadow: black;">
                                    {{orderDetails.notes}}</p>



                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </body>

                    </html>











                    <div class="mb-0 text-right" *ngIf="orderDetails.status==='active'">
                      <button class="btn btn-sm btn-danger" style="padding: 5px;"
                        (click)="cancelOrder(id,orderDetails.store_name)" id="cancelOrder">CANCEL ORDER</button>
                    </div>



                  </div>
                </section>







              </div>
            </div>

          </section>





          <br>
        </div>





      </div>



    </div>
  </div>
</section>