<section class="team section-padding secondary-bg">



    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h4 class="subheading">Careers</h4>
                    <span class="subtitle">Opportunities at</span>
                    <h2><span>NJAS FOODs LIMITED</span></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-item" routerLinkActive="active"
                    [routerLink]="['/job-description','operations-assistant']" style="cursor: pointer;">
                    <img src="./assets/images/careers/operations.png" alt="OPERATIONS ASSISTANT" class="img-fluid"
                    style="width: 100%;padding: 50px;" image-spinner width="250" height="250">
                    <div class="team-info">
                        <h4>OPERATIONS ASSISTANT</h4>
                        <p>Click to read Job Description</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item" routerLinkActive="active" [routerLink]="['/job-description','chef']"
                    style="cursor: pointer;">
                    <img src="./assets/images/careers/chef.png" alt="CHEF" class="img-fluid"
                    style="width: 100%;padding: 50px;" image-spinner width="250" height="250">
                    <div class="team-info">
                        <h4>CHEF</h4>
                        <p>Click to read Job Description</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="team-item" routerLinkActive="active" [routerLink]="['/job-description','assistant-chef']"
                    style="cursor: pointer;">
                    <img src="./assets/images/careers/assistant.png" alt="ASSISTANT CHEF" class="img-fluid"
                    style="width: 100%;padding: 50px;" image-spinner width="250" height="250">
                    <div class="team-info">
                        <h4>ASSISTANT CHEF</h4>
                        <p>Click to read Job Description</p>
                    </div>
                </div>
            </div>


        </div>




    </div>
</section>

