.card-header:first-child {
  background-color: rgb(56, 56, 116);
  display: flex;
}
.card-header:first-child button {
  color: white;
}
.categories {
  padding: 15px;
}
.feature-content h4 {
  font-size: medium;
}
.accordion > .card {
  overflow: hidden;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.items {
  overflow-x: scroll;
  width: auto;
  white-space: nowrap;
  background: #F1F6FC;
  display: flex;
}
.singleCardBG.product-item{
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  width: 100%;
  margin: 0 !important;
}
.feature-item.style-2{
  width: 300px;
  margin: 10px 0px;
  padding: 10px !important;
}
.feature-item.style-2 {
  padding: 20px;
  display: block;
  text-align: center;
}
.feature-item.style-2 .feature-img {
  margin: 0;
}

.categories ul {
  position: relative;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
  display: -webkit-inline-box;
  align-items: center;
  justify-content: space-between;
}

.categories li {
  display: flex;
  width: 200px !important;
  height: 129px;
  margin: 10px;
  padding: 10px;
  white-space: normal;
  text-align: center;
  background-color: #fafafa;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.selected {
  background-color: rgba(206, 206, 206, 0.651) !important;
}
.cartFloatingBtn {
  position: fixed;
  top: 150px;
  z-index: 22;
  background: rgb(66, 207, 172);
  right: 0;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.itemDescription {
  font-size: 10px;
   line-height:normal; 
  /* height: 3em;  */
  white-space: pre-line  !important;
  overflow: hidden; 
}

.category-fixed-btm-top {
  position: fixed;
  top: 200px;
  z-index: 22;
  background: rgb(66, 207, 172);
  right: 0;
  padding: 8px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-orientation: upright;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  font-feature-settings: 'vkrn', 'vpal';
  width: 40px;
}
.category-fixed-btm-top {
  border-radius: 6px 0px 0px 6px;
  box-shadow: rgba(52, 143, 80, 0.4) 0px 0px 0px;
  border: 0px;
  outline: 0px;
  cursor: pointer;
  position: fixed;
  right: 15px;
  z-index: 10;
  /* animation: 2s ease 0s infinite normal none running iLVPsa; */
}
@keyframes iLVPsa {
  0% {
    box-shadow: rgba(52, 143, 80, 0.4) 0px 0px 0px 0px;
  }
  70% {
    box-shadow: rgba(52, 143, 80, 0) 0px 0px 0px 10px;
  }
  100% {
    box-shadow: rgba(52, 143, 80, 0) 0px 0px 0px 0px;
  }
}
.selectedCategory-fixed-btm-top {
  position: fixed;
  top: 200px;
  z-index: 22;
  background: #408858;
  right: 0;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-orientation: upright;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  font-feature-settings: 'vkrn', 'vpal';
  height: 157px;
  width: 30px;
}

.searchBar {
  width: 100%;
  border-bottom: 10px solid white;
  display: flex;
  align-items: center;
}
.searchBar svg {
  margin-left: 10px;
}
.searchBar input {
  width: 100%;
  border: none;
  padding: 15px;
  background: #fafafa;
  outline: none;
}
.cardHeader {
  background-color: #fafafa;
}
.singleCard {
  padding: 2px;
  position: relative;
}
.singleCardBG {
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  height: 400px;
  position: relative;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.089);
  margin-bottom: 5px;
}
.plusMinusDiv {
  background: aliceblue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  left: 0;
}
.plusMinusDiv button {
  outline: none;
  padding: 10px 40px;
  font-size: 20px;
  background: none;
  border: none;
}
.cartbtn {
  display: flex;
    justify-content: center;
}
.cartbtn button {
  outline: none;
  padding: 5px;
  font-size: 20px;
  background: none;
  background-color: #408858;
  border: none;
  color: white;
  position: absolute;
  bottom: 20px;
  width: 80%;
  border-radius: 50px;
}
.itemPriceArea button {
  outline: none;
  padding: 5px;
  font-size: 20px;
  background: none;
  background-color: #408858;
  border: none;
  color: white;
  position: absolute;
  bottom: 10px;
  width: 90%;
  border-radius: 50px;
}
.itemPriceArea button:hover {
  border-radius: 50px;
  background-color: darkorange;
  color: white;
  transition: all 0.5s ease;
}
.singleCartItemArea img {
  transition: all 0.2s ease;
}
.singleCartItemArea img:hover {
  transform: scale(0.95);
}
.plusMinusDiv input {
  border: none;
  text-align: center;
  background: none;
}
.btn.confirm-button {
  position: absolute;
  margin: 10px auto;
}
.input-group-btn {
  background: none;
  border: none;
}
.qtyPlusMinus button {
  background: none;
  border: none;
  padding: 10px;
}

.minusQtyBtn.deductFromCart.deductButton,
.addMoreQtyBtn.addToCart {
  background: none;
  border: none;
  outline: none;
}
.input-group.inputGroupQtyPlusMinus input {
  text-align: center;
  background: none;
  border: none;
}
.cartbtn button:hover {
  border-radius: 50px;
  background-color: darkorange;
  color: white;
  transition: all 0.5s ease;
}

.cartbtn button svg {
  margin-left: 5px;
}
.bfChoiceBadge.promoted:after {
  content:  attr(id);
  position: absolute;
  background: black;
  color: white;
  width: 100%;
  line-height: 1em;
  text-align: center;
  padding: 0.5em 0;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-radius:5px 5px 0px 0px;
}


.bestChoiceBadge.promoted:after {
  content: 'Best Choice';
  position: absolute;
  background: #cddc39;
  color: white;
  width: 40%;
  line-height: 1em;
  text-align: center;
  padding: 0.5em 0;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-radius: 0px 0px 20px 0px;
}
.gradeABadge.promoted1:after {
  content: 'Grade A';
  position: absolute;
  background: orange;
  color: white;
  line-height: 1em;
  padding: 0.5em 10px;
  box-sizing: border-box;
  right:  0;
  top: 0px;
  width: 30%;
  border-radius: 0px 0px 0px 0px;
  text-align: center;
}
.placeholder-content {
  height: 205px;
  overflow: hidden;
  background: #000;
  position: relative;

  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px;
}

@keyframes placeholderAnimate {
  0% {
    background-position: -650px 0;
  }
  100% {
    background-position: 650px 0;
  }
}
.placeholder-contentHeaderText {
  height: 36px;
  border-radius: 20px;
  margin-top: 10px;
  overflow: hidden;
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px;
}
.placeholder-contentDesc {
  height: 18px;
  width: 90px;
  margin-top: 6px;
  border-radius: 20px;
  overflow: hidden;
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px;
}
.placeholder-contentPrice {
  height: 20px;
  width: 70px;
  border-radius: 20px;
  margin-top: 6px;
  overflow: hidden;
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px;
}
.selectedCategoryDiv {
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: #6a7695;
}
.selectedCategoryDiv svg {
  display: none;
}
@media only screen and (max-width: 600px) {
  .categories {
    width: 100%;
  }
  .feature-item:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  
  .categories ul {
    width: 100%;
  }
  .categories ul li {
    width: 180px;
    height: 100px;
  }
  .selectedCategoryDiv svg {
    display: flex;
    margin-right: 5px;
  }
  .singleCard {
    padding: 0;
    border-left: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
  }
  .singleCardBG {
    border-radius: 0;
    margin-bottom: 0px;
  }
  .plusMinusDiv button {
    padding: 10px 20px;
  }
  .cartbtn button {
    border-radius: 20px;
    font-size: 18px;
  }
  .selectedCategory-fixed-btm-top {
    height: 156px;
  }
  .categoriesBtn {
    display: none;
  }
.selectedCategoryDiv {
  position: sticky;
  top: 0;
  background-color: rgb(66, 207, 172);
  z-index: 10;
  color: white;
}
}
