<layout-header></layout-header>

<router-outlet>
  <ngx-spinner bdColor="white" size="medium" color="#408858">
    <span style="color: #408858; font-size: 16px;">Loading...</span>
  </ngx-spinner>
</router-outlet>

<layout-footer></layout-footer>
<div class="fixed-btm-top">
  <a (click)="goToTop()" class="js-scroll-trigger scroll-to-top"><i class="ti-angle-up"></i></a>
</div>
