<section class="blog-section section-padding" style="padding:26px 0px;">
  <div class="row justify-content-center">
    <div class="col-lg-11">


      <div class="block">
        <div class="card">
          <div class="text-center card-body contact__msg" style="display: none">
            <div class="col-lg-12">
              <div class="alert alert-success " role="alert">
                <br>
                <h5> Your order has been mailed, You will get
                  response from <strong class="text-danger">NJAS Team</strong> shortly. Thank you
                  for shopping with us!</h5>
                <a class="btn btn-success btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/home']">Back
                  to
                  home</a>
                <br>
              </div>
            </div>
          </div>


     
          <form class="ion-padding" #changePasswordForm="ngForm" (ngSubmit)="submitForm(changePasswordForm)" id="formDiv">
            <input name="id"  #id="ngModel" [(ngModel)]="customerDetailsArr.id" type="hidden" value="{{customerDetailsArr.id}}" />


            <div class="card-header" id="headingOne">
           

              <div class="row">
                <div class="col">
                  <a routerLinkActive="active" [routerLink]="['/user-navigation']" class="text-left">
                    <i class="ti-angle-left"></i>
                    Go Back
                  </a>
                </div>

                <div class="col">
                  <h2 class="mb-0 text-right">
                    <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                      <i class="ti-key"></i>
                     Change Password
                    </button>
                  </h2>
                </div>



              </div>


            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">





                <div class="row justify-content-center">

                  <div class="col-lg-12">
                    <div class="row form-row">
                    
                      
                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success">Current Password</span>
                         
                          <input type="password" name="password" id="password" class="form-control"
                            style="height: 60px;" placeholder="Enter Current Password" name="password" #password="ngModel"
                            [(ngModel)]="customerDetailsArr.password" required>
                     

                          
                          <span class="small text-danger"
                            *ngIf="(password.invalid && password.touched )">*invalid</span>
                        </div>
                      </div>


                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success">New Password</span>
                         
                          <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
                          <input type="password" name="new_password" id="new_password" class="form-control"
                            style="height: 60px;" placeholder="Enter New Password" name="new_password" #new_password="ngModel"
                            [(ngModel)]="customerDetailsArr.new_password" required>
                          </show-hide-password>

                          
                          <span class="small text-danger"
                            *ngIf="(password.invalid && password.touched )">*invalid</span>
                        </div>
                      </div>


                   
                      <div class="col-lg-12 text-right">
                        <div class="mt-4 text-right">
                          <button class="btn btn-main2" [disabled]="!(changePasswordForm.form.valid)"
                            type="submit">&nbsp;&nbsp;&nbsp;&nbsp;SUBMIT&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </div>
                      </div>

                    </div>



                  </div>
                </div>



              </div>
            </div>

            <br>



          </form>

          <br>
        </div>


      </div>



    </div>
  </div>
</section>