<section class="blog-section section-padding" style="padding:26px 0px;">
  <div class="row justify-content-center">
    <div class="col-lg-11">


      <div class="block">
        <div class="card">
          <div class="text-center card-body contact__msg" style="display: none">
            <div class="col-lg-12">
              <div class="alert alert-success " role="alert">
                <br>
                <h5> Your password is changed.</h5>
                <a class="btn btn-success btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/signin']">SIGN
                  IN</a>
                <br>
              </div>
            </div>
          </div>



          <form class="ion-padding" #changePasswordForm="ngForm" (ngSubmit)="submitForm(changePasswordForm)"
            id="formDiv">
            <input name="id" #id="ngModel" [(ngModel)]="customerDetailsArr.id" type="hidden"
              value="{{customerDetailsArr.id}}" />


            <div class="card-header" id="headingOne">


              <div class="row">
                <div class="col">
                  <a routerLinkActive="active" [routerLink]="['/user-navigation']" class="text-left">
                    <i class="ti-angle-left"></i>
                    Go Back
                  </a>
                </div>

                <div class="col">
                  <h2 class="mb-0 text-right">
                    <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                      <i class="ti-key"></i>
                      Change Password
                    </button>
                  </h2>
                </div>



              </div>


            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">

                <div class="error-box" style="padding-top: 50px;padding-bottom:50px;" id="load">
                  <div class="error-body text-center">
                    <p class="text-muted m-t-30 m-b-30">loading...</p>
                  </div>
                </div>



                <div class="error-box" style="padding-top: 50px;padding-bottom:50px;" id="linkfail"
                  style="display: none;">
                  <div class="error-body text-center">
                    <h1>Oops!</h1>
                    <!-- <h3 class="text-uppercase">Your email address is verified</h3> -->
                    <p class="text-muted m-t-30 m-b-30">Invalid access or link expired.</p>
                    <a class="btn btn-success btn-rounded waves-effect waves-light m-b-40"
                      [routerLink]="['/home']">HOME</a>
                  </div>
                </div>



                <div class="row justify-content-center" id="linksuccess" style="display: none;">

                  <div class="col-lg-12">
                    <div class="row form-row">



                      <div class="col-lg-12">
                        <div class="form-group">
                          <span class="text-success">New Password</span>

                          <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
                            <input type="password" name="new_password" id="new_password" class="form-control"
                              style="height: 60px;" placeholder="Enter New Password" name="new_password"
                              #new_password="ngModel" [(ngModel)]="customerDetailsArr.new_password" required>
                          </show-hide-password>


                          <span class="small text-danger"
                            *ngIf="(new_password.invalid && new_password.touched )">*invalid</span>
                        </div>
                      </div>


                      <div class="col-lg-12 text-right">
                        <!-- <div class="form-group">
                          <input type="checkbox" class="form-control form-check-input" id="terms" value="1" checked>
                          <label class="form-check-label" for="terms" ></label>
                        </div> -->
                        <span class="post-comment"><a routerLinkActive="active"
                            [routerLink]="['/forgot-password']">FORGOT PASSWORD?</a></span>
                      </div>
                      <div class="col-lg-12 text-right">
                        <div class="mt-4 text-right">
                          <button class="btn btn-main2" [disabled]="!(changePasswordForm.form.valid)"
                            type="submit">&nbsp;&nbsp;&nbsp;&nbsp;SUBMIT&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </div>
                      </div>

                    </div>



                  </div>
                </div>



              </div>
            </div>

            <br>



          </form>

          <br>
        </div>



        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0 text-right">
              <button class="btn btn-link11" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <!-- <i class="ti-check-box"></i> -->
                NOT A MEMBER?
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">

              <div class="col-lg-12 text-right">

                <button class="btn btn-main text-center" routerLinkActive="active" [routerLink]="['/signup']">

                  <i class="ti-plus"></i>
                  &nbsp;&nbsp;
                  CREATE AN ACCOUNT
                  &nbsp;&nbsp;

                </button>
              </div>

            </div>
          </div>



        </div>

      </div>



    </div>
  </div>
</section>