<section class="blog-section section-padding" style="padding:26px 0px;">
  <div class="row justify-content-center">
    <div class="col-lg-11">
      <div class="block">
        <div class="card">
          <section>
            <div class="card-header" id="headingOne">
              <div class="row">
                <div class="col">
                  <a
                    routerLinkActive="active"
                    (click)="goBack()"
                    class="text-left"
                  >
                    <i class="ti-angle-left"></i>
                    Go Back
                  </a>
                </div>

                <div class="col">
                  <h2 class="mb-0 text-right">
                    <button
                      class="btn btn-link11"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      <i class="ti-receipt"></i>
                      ORDER(S)
                    </button>
                  </h2>
                </div>
              </div>
            </div>

            <div
              class="text-center card-body contact__msg"
              *ngIf="!customerGroceriesArr.length"
            >
              <div class="col-lg-12">
                <div class="alert alert-warning " role="alert">
                  <br />
                  <h5>
                    No <strong class="text-success">Order(s)</strong> to
                    display!
                  </h5>
                  <a
                    class="btn btn-success btn-rounded waves-effect waves-light m-b-40"
                    [routerLink]="['/user-navigation']"
                  >
                    Go Back</a
                  >
                  <br />
                </div>
              </div>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
              *ngIf="customerGroceriesArr.length"
            >
              <div class="card-body">
                <section *ngFor="let order of customerGroceriesArr; index as i">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col">#{{ i + 1 }}</div>

                        <div class="col text-right">
                          <span
                            class="badge badge-warning"
                            *ngIf="order.order.status === 'active'"
                            >{{ order.order.status | uppercase }}
                          </span>
                          <span
                            class="badge badge-info"
                            *ngIf="
                              order.order.status === 'accepted' ||
                              order.order.status === 'payment_processing' ||
                              order.order.status === 'in_progress'
                            "
                            >{{ order.order.status | uppercase }}
                          </span>
                          <span
                            class="badge badge-success"
                            *ngIf="order.order.status === 'completed'"
                            >{{ order.order.status | uppercase }}
                          </span>
                          <span
                            class="badge badge-danger"
                            *ngIf="
                              order.order.status === 'cancelled' ||
                              order.order.status === 'declined'
                            "
                            >{{ order.order.status | uppercase }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th scope="row">Order Date:</th>
                            <td>
                              {{ order.order.date_created | date }}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Delivery Date:</th>
                            <td>
                              {{
                                order.order.delivery_day &&
                                order.order.delivery_day !== 'N/A'
                                  ? order.order.delivery_day
                                  : 'N/A'
                              }}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row"><strong>Total Price: </strong></th>
                            <td>
                              <strong
                                >{{
                                  order.order.currency_symbol | currencySymbol
                                }}
                                {{ order.order.payable }}</strong
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <hr />

                      <a
                        routerLinkActive="active"
                        [routerLink]="['/order-receipt', order.id]"
                        class="btn btn-sm btn-primary btn-block"
                        style="padding: 5px;"
                        >VIEW DETAILS</a
                      >
                    </div>
                  </div>

                  <br />
                </section>
              </div>
            </div>
          </section>

          <br />
        </div>
      </div>
    </div>
  </div>
</section>
