a.disabled {
    pointer-events: none;
    cursor: not-allowed; 
 }

 .fixed-size-food{
     width: 100%;
     height: 250px;
 }

 .highlight-item:hover {
    background-color: yellow;
  }


  .bestChoiceListBadge {
    position: relative;
    //display: inline-block;
    overflow: hidden;
    font-size: 5px;
  }
  .bestChoiceListBadge img {
    display:block;
  }
  .bestChoiceListBadge.promoted:after {
    content: "FOR SALE";
    font-size: 30px;
    position: absolute;
    background: #CDDC39;
    color: white;
    width: 40%;
    line-height: 1.7em;
    text-align: center;
    padding: 0.1em 0;
    box-sizing: border-box;
    bottom: 25px;
    //left: -50px;
    //transform: rotate(0deg) translate(30%, 0%);
    transform-origin: 50% 50%;
  }

  .list-checkmarks li:before {    
  content: "•";
  }
