<div class="about secondary-bg">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="post-single" *ngIf="id==='chef'">
                    <div class="row col">

                        <div class="text-left col">
                            <a routerLinkActive="active" [routerLink]="['/careers']" class="text-left">
                                <i class="fa fa-angle-left"></i>
                                Back
                            </a>
                        </div>
                        <div class="text-right col">
                            <p class="text-right">Careers > CHEF</p>
                        </div>

                    </div>
                    <div class="single-post-content" style="text-align: justify;
                    text-justify: inter-word;">



                        <div class="blog-sidebar mt-5 mt-lg-0">


                            <div class="widget">

                                <!-- <h4 class="widget-title">Role:</h4>
                                <p> CHEF</p>
                                <hr>

                                <h4 class="widget-title">Location:</h4>
                                <p> Kingston</p>
                                <hr>
                                <h4 class="widget-title">Recruitment:</h4>
                                <p> Ongoing</p>
                                <hr> -->


                                <h4>CHEF</h4>
                                <hr>
                                <h5>Location &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
                                    <strong>Kingston</strong>
                                </h5>
                                <h5>Recruitment &nbsp;&nbsp;: <strong>Ongoing</strong> </h5>
                                <hr>





                                <h4 class="widget-title">Brief Description:</h4>
                                <p> We’re looking for a vibrant and passionate Chef to perform various tasks in the
                                    kitchen;
                                    preparing food and ingredients, operating and cleaning kitchen equipment and
                                    utensils,
                                    working on plate preparation, supporting recipe and menu development, and managing
                                    inventory.</p>
                                <hr>
                                <h4 class="widget-title">Tasks:</h4>
                                <ul class="list-display list-checkmarks">
                                    <li> Prepare meals and menus for the operation of the kitchen</li>
                                    <li> Employ food safety best practices and makes sure that all kitchen staff members
                                        do the
                                        same</li>
                                    <li> Act with appropriate caution in a dangerous environment where there are knives
                                        and
                                        high-temperature surfaces</li>
                                    <li> Select choice ingredients that will give dishes the best flavor</li>
                                    <li> Monitor product use throughout preparation/serving period to prevent
                                        overproduction or
                                        early depletion</li>
                                    <li> Experiment to come up with new specialties that will draw diners into the
                                        restaurant
                                    </li>
                                    <li> Coach other members of the kitchen staff, so they perform at their best</li>
                                    <li> Determine how much food to order and maintains an appropriate supply at the
                                        restaurant
                                    </li>
                                    <li> Monitor food rotation and inventory levels to maintain wholesome and nutritious
                                        products;</li>
                                    <li> Keep up with trends in cooking and the restaurant business to ensure that
                                        guests have a
                                        positive experience</li>
                                    <li> Work quickly and accurately during busy periods</li>
                                    <li> Occasionally take on extra duties, such as cleaning</li>
                                    <li> Take direction and works with the restaurant's administrative team</li>
                                </ul>
                                <hr>
                                <h4 class="widget-title">Qualification and Requirements:</h4>
                                <ul class="list-display list-checkmarks">
                                    <li> High School Diploma</li>
                                    <li> Heart NTA Certifications/Professional Culinary Certifications</li>
                                    <li> Minimum 2 years’ experience in a similar capacity</li>
                                    <li> Must have a valid food handlers permit</li>
                                    <li> Ability to operate a computer for inventory and other documentation</li>
                                    <li> Excellent oral and written communication skills</li>
                                    <li> Ability to work in a fast-paced environment</li>
                                    <li> Energetic, collaborative and proactive</li>
                                    <li> Punctual</li>
                                    <li> Must be well-groomed</li>


                                </ul>

                            </div>


                        </div>



                    </div>



                </div>






                <div class="post-single" *ngIf="id==='assistant-chef'">
                    <div class="row col">

                        <div class="text-left col">
                            <a routerLinkActive="active" [routerLink]="['/careers']" class="text-left">
                                <i class="fa fa-angle-left"></i>
                                Back
                            </a>
                        </div>
                        <div class="text-right col">
                            <p class="text-right">Careers > ASSISTANT CHEF</p>
                        </div>

                    </div>
                    <div class="single-post-content" style="text-align: justify;
                    text-justify: inter-word;">



                        <div class="blog-sidebar mt-5 mt-lg-0">


                            <div class="widget">

                                <!-- <h4 class="widget-title">Role:</h4>
                                <p> CHEF</p>
                                <hr>

                                <h4 class="widget-title">Location:</h4>
                                <p> Kingston</p>
                                <hr>
                                <h4 class="widget-title">Recruitment:</h4>
                                <p> Ongoing</p>
                                <hr> -->


                                <h4>ASSISTANT CHEF</h4>
                                <hr>
                                <h5>Location &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
                                    <strong>Kingston</strong>
                                </h5>
                                <h5>Recruitment &nbsp;&nbsp;: <strong>Ongoing</strong> </h5>
                                <hr>





                                <h4 class="widget-title">Brief Description:</h4>
                                <p>We are looking to hire a dedicated and reliable Assistant Chef to assist the Chef
                                    with ingredient preparation as well as perform all washing and cleaning duties
                                    required in the kitchen. The Assistant Chef’s responsibilities include assisting
                                    with inventory control, removing the garbage, washing garbage cans, and clearing
                                    refrigerators, freezers, and storage rooms.

                                    <br>
                                    To be successful as an Assistant Chef, you should exercise exceptional time
                                    management and ensure that all duties are completed in a timely manner. Ultimately,
                                    an outstanding Kitchen Assistant should be able to comply with all food health and
                                    safety regulations.
                                </p>
                                <hr>
                                <h4 class="widget-title">Tasks:</h4>
                                <ul class="list-display list-checkmarks">
                                    <li>Preparing Salads, Dressings and Fruit Platters.</li>
                                    <li>Assisting the Chef with the preparation of meal ingredients, which includes
                                        washing, cleaning, peeling, cutting, and chopping fruit, vegetables, poultry,
                                        and meat.</li>
                                    <li>Assisting the plating and packaging of meals.</li>
                                    <li>Properly cleaning and sanitizing all food preparation areas according to
                                        established standards of hygiene.</li>
                                    <li>Washing and appropriately storing all cooking appliances, instruments, utensils,
                                        cutting boards, and dishes.</li>
                                    <li> Sweeping and mopping the kitchen floors as well as wiping down kitchen walls.
                                    </li>
                                    <li>Assisting with the unloading of delivered food supplies.</li>
                                    <li>Organizing and correctly storing food supplies.</li>
                                    <li>Promptly transferring meal ingredients from storage areas to the kitchen.</li>
                                    <li>Any other duties as assigned.</li>
                                </ul>
                                <hr>
                                <h4 class="widget-title">Qualification and Requirements:</h4>
                                <ul class="list-display list-checkmarks">
                                    <li>High School Diploma (including Mathematics and English); </li>
                                    <li>Minimum 1 year experience in food service; </li>
                                    <li>Must have a valid food handlers permit; </li>
                                    <li>Excellent oral and written communication skills;</li>
                                    <li>Ability to work in a fast-paced environment; </li>
                                    <li>Energetic, collaborative and proactive; </li>
                                    <li>Punctual; </li>
                                    <li>Must be well-groomed. </li>
                                </ul>

                            </div>


                        </div>



                    </div>



                </div>







                <div class="post-single" *ngIf="id==='operations-assistant'">
                    <div class="row col">

                        <div class="text-left col">
                            <a routerLinkActive="active" [routerLink]="['/careers']" class="text-left">
                                <i class="fa fa-angle-left"></i>
                                Back
                            </a>
                        </div>
                        <div class="text-right col">
                            <p class="text-right">Careers > OPERATIONS ASSISTANT</p>
                        </div>

                    </div>
                    <div class="single-post-content" style="text-align: justify;
                    text-justify: inter-word;">



                        <div class="blog-sidebar mt-5 mt-lg-0">


                            <div class="widget">

                                <h4>OPERATIONS ASSISTANT</h4>
                                <hr>
                                <h5>Location &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
                                    <strong>Kingston</strong>
                                </h5>
                                <h5>Recruitment &nbsp;&nbsp;: <strong>Ongoing</strong> </h5>
                                <hr>





                                <h4 class="widget-title">Brief Description:</h4>
                                <p>We are looking for an Operations Assistant to ensure all daily activities run
                                    smoothly and efficiently. Operations Assistant responsibilities include ordering
                                    kitchen utensils and equipment based on our needs, managing contracts and payroll
                                    and supervising restaurant staff performance. To be successful in this role, you
                                    should be familiar with restaurant operations and have a good understanding of what
                                    makes a great customer service. Ultimately, you will help minimize operating costs,
                                    boost our employee retention and deliver a positive dining experience for our
                                    guests.
                                </p>
                                <hr>
                                <h4 class="widget-title">Tasks:</h4>
                                <ul class="list-display list-checkmarks">
                                    <li>Research new wholesale food suppliers and negotiate prices</li>
                                    <li> Calculate future needs in kitchenware and equipment and place orders, as needed
                                    </li>
                                    <li>Manage and store vendors’ contracts and invoices</li>
                                    <li>Coordinate communication between front of the house and back of the house staff
                                    </li>
                                    <li>Prepare shift schedules</li>
                                    <li>Process payroll for all restaurant staff</li>
                                    <li>Supervise kitchen staff and provide assistance, as needed</li>
                                    <li>Keep detailed records of daily, weekly and monthly costs and revenues</li>
                                    <li>Arrange for new employees’ proper onboarding (scheduling trainings and ordering
                                        uniforms)</li>
                                    <li>Support the creation of strategies to push the Company forward</li>
                                    <li>Monitor compliance with safety and hygiene regulations</li>
                                    <li>Gather customers feedback and recommend improvements to our menus</li>
                                    <li>Other duties as assigned.</li>

                                </ul>
                                <hr>
                                <h4 class="widget-title">Qualification and Requirements:</h4>
                                <ul class="list-display list-checkmarks">
                                    <li>Work experience as a Restaurant Operations Assistant or similar role in the
                                        hospitality industry;</li>
                                    <li>Familiarity with restaurant management software;</li>
                                    <li>Good math and reporting skills;</li>
                                    <li>Excellent organizational skills;</li>
                                    <li>Customer service attitude;</li>
                                    <li>Communication and team management abilities;</li>
                                    <li>High school diploma.</li>

                                </ul>

                            </div>


                        </div>



                    </div>



                </div>




            </div>
            <!-- <div class="col-md-4">
                <div class="blog-sidebar mt-5 mt-lg-0">


                    <div class="widget widget_categories">
                        <h4 class="widget-title">Jobs</h4>
                        <ul>
                            <li class="cat-item"><a href="#"><i class="fa fa-angle-right"></i>OPERATIONS ASSISTANT</a>
                            </li>
                            <li class="cat-item"><a href="#"><i class="fa fa-angle-right"></i>CHEF</a></li>
                            <li class="cat-item"><a href="#"><i class="fa fa-angle-right"></i>ASSISTANT CHEF</a></li>
                        </ul>
                    </div>


                </div>
            </div> -->
        </div>
    </div>



    <div class="error-box" style="padding-top: 200px;padding-bottom:200px;"
        *ngIf="id!=='chef' && id!=='assistant-chef' && id!=='operations-assistant'">
        <div class="error-body text-center">
            <h1>404</h1>
            <h3 class="text-uppercase">Job Not Found !</h3>
            <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY CAREERS</p>
            <a class="btn btn-success btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/careers']">Back to
                careers</a>
        </div>
    </div>



</div>

<section class="contact-section pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-inner d-lg-flex">
                    <div class="contact-item" style="flex-basis: 100% !important;">
                        <img src="assets/images/icon/002-mail.png" alt="Mail" class="img-fluid">
                        <p>Email Us</p>
                        <h4><a  href="mailto:notjusasalad@gmail.com?subject=Job Application @ NJAS FOODs LIMITED <> POSITION : {{&nbsp;id | uppercase}}">notjusasalad@gmail.com</a></h4>
                        <p>Apply for this position with your resume</p>
                        <a class="btn btn-main text-center"
                            href="mailto:notjusasalad@gmail.com?subject=Job Application @ NJAS FOODs LIMITED <> POSITION : {{&nbsp;id | uppercase}}">

                            <i class="ti-email"></i>
                            &nbsp;&nbsp;
                            APPLY WITH RESUME
                            &nbsp;&nbsp;

                        </a>
                    </div>
                    <!-- <div class="contact-item" style="flex-basis: 50%  !important;">
                        <img src="assets/images/icon/001-contact.png" alt="" class="img-fluid">
                        <p>Make a Call</p>
                        <h4><a href="tel:+1">+1</a></h4>
                    </div> -->
                    <!-- <div class="contact-item">
                        <img src="assets/images/icon/003-maps-and-flags.png" alt="" class="img-fluid">
                        <p>Corporate Office</p>
                        <h4>Moon Street Light Avenue, 14/05
                            Jupiter, JP 80630 </h4>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>