<div class="checkoutForm">
  <div style="width:100%" class="row m-0 p-0">
    <section class="col-md-8 col-12 formContent">
      <div class="d-flex justify-content-between align-items-center">
        <button [routerLink]="['/']" class="backBtn">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
          </svg>
          Home
        </button>
        <h4 class="m-0">Payment Summary</h4>
      </div>
      <div class="success-animation" *ngIf="searchParams.status==='success'">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
        </svg>
        <div>
          PAYMENT SUCCESS!
        </div>
        <div>
          <div class="p-2" transparent>
            <p color="success" class="text-success text-center">
              Thank you for shopping with us!
            </p>
          </div>
        </div>
      </div>
      <div class="success-animation" *ngIf="searchParams.status!=='success'">
        <svg id="failureAnimation" class="animated" xmlns="http://www.w3.org/2000/svg" width="200" height="200"
          viewBox="0 0 70 70">
          <circle id="failureAnimationCircle" cx="35" cy="35" r="24" stroke="red" stroke-width="2"
            stroke-linecap="round" fill="transparent" />
          <polyline class="failureAnimationCheckLine" stroke="red" stroke-width="2" points="25,25 45,45"
            fill="transparent" />
          <polyline class="failureAnimationCheckLine" stroke="red" stroke-width="2" points="45,25 25,45"
            fill="transparent" />
        </svg>
        <div class="text-danger">
          PAYMENT FAILED!
        </div>
        <div>
          <div class="p-2" transparent>
            <p color="success" class="text-danger text-center">
              Something went wrong please try again.
            </p>
          </div>
        </div>
      </div>
      <div class="card-body p-2">
        <div class="col-lg-12 text-center">
          <a [routerLink]="['/']" class="btn btn-main text-center" tabindex="0" id="showOrderOptions">
            GO TO HOME
          </a>
        </div>
      </div>
    </section>
  </div>
</div>